<div ng-controller="DashboardController" class="vertically-centered-div">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <center>
                <p class="font-title">
                    SeekRx</p>
                <p class="font-description">
                    <span class="border-description">One place for all your health needs</span></p>
            </center>
        </div>
    </div>
    <div class="row" ng-controller="bookanappointmentcontroller">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <center>
                <ul class="div-features">
                    <li class="list-vertical" >
                        <center>
                            <a href="" ng-click="BookAnAppointment()" class="page-item-link">
                                <div>
                                    <img src="app/img/Background/BookAppointment-icon.png">
                                </div>
                                <div class="text-color">
                                    <big>BOOK
                                        <br />
                                        APPOINTMENT </big>
                                </div>
                            </a>
                        </center>
                    </li>
                     <li class="list-vertical" ng-if="isAdmin">
                        <center>
                            <a href="#/register" class="page-item-link">
                                <div>
                                    <img src="app/img/Background/PatientMgmt-icon.png">
                                </div>
                                <div class="text-color">
                                    <big>PATIENTS
                                        <br />
                                        MANAGEMENT </big>
                                </div>
                            </a>
                        </center>
                    </li> 
                   <!-- <li class="list-vertical">
                        <center>
                            <a href="#/company" class="page-item-link">
                                <div>
                                    <img src="app/img/Background/BranchMgmt-icon.png">
                                </div>
                                <div class="text-color">
                                    <big>BRANCH
                                        <br />
                                        MANAGEMENT </big>
                                </div>
                            </a>
                        </center>
                    </li>
                    <li class="list-vertical">
                        <center>
                            <a href="#/user" class="page-item-link">
                                <div>
                                    <img src="app/img/Background/EmployeeMgmt-icon.png">
                                </div>
                                <div class="text-color">
                                    <big>EMPLOYEE
                                        <br />
                                        MANAGEMENT </big>
                                </div>
                            </a>
                        </center>
                    </li> -->
                </ul>
            </center>
        </div>
    </div>
</div>
