﻿<div ng-controller="DoctorController">
<vm-title title-value="Doctor Details" style-value="info alert-info" expand-collapse="minus" control-id="title_DoctorDetails"></vm-title>
    <div id="divDoctor">
        <form name="DoctorForm" data-ng-submit="submitDoctorForm(DoctorDetails)" novalidate ngformvalidate>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Name</label>
                        <vm-ui-select2 master-name="Name" control-id="Name" place-holder="Name" ng-select-model="DoctorDetails.Name"
                                       source-url="/data/Users.json" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Qualification</label>
                        <vm-ui-select2 master-name="Qualification" control-id="Qualification" place-holder="Qualification" ng-select-model="DoctorDetails.Qualification"
                                       source-url="/data/Qualification.json" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Experience
                        </label>
                        <input type="text" class="form-control" id="txtExperience" placeholder="Experience"
                               ng-model="DoctorDetails.Experience" name="txtExperience" maxlength="2"
                               data-controlname="Experience" ng-required="true" ngvalidate>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Speciality
                        </label>
                        <vm-ui-select2 master-name="Speciality" control-id="Speciality" place-holder="Speciality" ng-select-model="DoctorDetails.Speciality"
                                       source-url="/data/Speciality.json" source-obj="ViewModels" required-field="true" ngvalidate></vm-ui-select2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Designation
                        </label>
                        <input type="text" class="form-control" id="txtDesignation" placeholder="Designation"
                            ng-model="DoctorDetails.Designation" name="txtDesignation"
                            data-controlname="Designation" ng-required="true" ngvalidate>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>
                            Description
                        </label>
                        <textarea type="text" name="txtDescription" class="form-control" id="txtDescription" placeholder="Description" data-controlname="Description" ng-required="true"
                                      ngvalidate ng-model="DoctorDetails.Description" cols="40" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <button type="submit" class="btn btn-primary" formname="DoctorForm" click-once="Saving...">Submit</button>
                    </center>
                </div>
            </div>
        </form>
    </div>
</div>
