<div class="well">
    <form name="PatientSearch" id="searchAppointmentGrid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Doctor Name</label>
					<input type="text" class="form-control" id="txt_Specialistname" placeholder="Name" ng-model="details.Specialistname">
                </div>
            </div>
        </div>
        <div class="row">
                    <div class="col-md-12 form-group">
                        <label>
                           Speciality
                        </label>
                        <vm-ui-select2 master-name="Speciality" control-id="Speciality_login" place-holder="Speciality" ng-select-model="details.Speciality"
                                       source-url="/data/Speciality.json" source-obj="ViewModels" required-field="true" ngvalidate></vm-ui-select2>
                    </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        Date Range
                    </label>
                    <div class="input-group">
                       <input date-range-picker class="form-control date-picker nonEditable alphanum" type="text" ng-model="details.Range" id="txtDate_range" name="txtDate_range" 
                               placeholder="Date Range" readonly="readonly" /> 
                              <label class="input-group-addon" for="txtDate_range"><i class="fa fa-th"></i></label>
                      		 <label  class="input-group-addon" id="btnclear" ng-click="ClearDateRange()"><i class="fa fa-undo"></i></label>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <button type="submit" id="btnSubmitClr" class="btn btn-default btn-block" ng-click="clear()" style="width: 100%;">
                    Clear
                </button>
            </div>
            <div class="col-md-5">
            	<button type="submit" id="btnSubmit" class="btn btn-danger btn-block" ng-click="SearchPatientClicked(details)" style="width: 100%;">
                    Search
                </button>
            </div>
            <div class="col-md-1">
            </div>
        </div>
       
        
    </form>
    <br />
</div>
<script>

	$(".date-picker").daterangepicker();
	$('.alphanum').keypress(function(key) {
		if(key.charCode < 48 || key.charCode > 57) return false;
		});
	var myInput = document.getElementById('txtDate_range');
	myInput.onpaste = function(e) {
	  e.preventDefault();
	}



</script>
    

