<div class="row" ng-if="searchPatient" >
<vm-title title-value="Appointment(s)" style-value="info alert-info"></vm-title>
<div ng-controller="searchAppointmentDetailsController as showCase" style="white-space:nowrap" >
     
    <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="table table-striped table-condensed table-responsive">
        <thead>
        <tr>
            <th class="vm-text-center"  style="width:5%;"></th> 
            <th class="vm-text-center"  style="width:5%;"></th>
            <th class="vm-text-center" style="width:10%;">Doctor Name</th>
            <th class="vm-text-center" style="width:10%;">Specialization</th>
            <th class="vm-text-center" style="width:10%;">Date Time</th>
            <th class="vm-text-center" style="width:10%;">Status</th>
          
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="appointment in tblPatientlist_pages[tblPatientlist_pagesinfo.currentPage].result"> <!-- user in showCase.users -->
       		<td width="2%" >
       		 	<a control-id="CancelAppointment" tooltip="cancel" style="cursor:pointer;" ng-if="appointment.appointmentStatus != vmuisettings.appointmentStatusCancelationCode  && compareDate(appointment.appointmentStartDateTime) ">
					<i class="glyphicon glyphicon-remove red" ng-click="CancelAppt('sm',appointment)"></i>
       		 	</a>
        	</td> 
       		<td ng-click="viewAppointmentDetails(appointment,'view')" width="2%">
       			<a control-id="viewAppointmentDetails" tooltip="view"><i class="fa fa-level-down text-primary vm-cursor-pointer"></i>
        		</a>
        	</td>
        	<td data-column-name="docName" tooltip-append-to-body="true"><span tooltip="{{appointment.json.doctorName}}">{{ appointment.json.doctorName}}</span></td>
        	<td data-column-name="specilityName" tooltip-append-to-body="true" ><span tooltip="{{appointment.json.specialityName}}">{{ appointment.json.specialityName}}</span></td>
          	<td class="vm-text-center" data-column-name="DateIn" tooltip-append-to-body="true"><span  tooltip="{{formatDate(appointment.appointmentStartDateTime)}}">{{formatDate(appointment.appointmentStartDateTime)}}</span></td>
         	<td data-column-name="status" data-column-name="DateOut" tooltip-append-to-body="true"><span tooltip="{{appointment.json.appointmentStatusDesc}}">{{ appointment.json.appointmentStatusDesc}}</span></td>
          	
        </tr>
        </tbody>
    </table>
    <serverside-pagination total-pages="tblPatientlist_pagesinfo.totalPages" url="attendanceUrl" current-page="tblPatientlist_pagesinfo.currentPage" total-records="tblPatientlist_pagesinfo.totalItems" current-records="tblPatientlist_pagesinfo.limit">
    </serverside-pagination>
 </div>
        
</div>
 <script type="text/ng-template" id="cancelAppointment.html">
<form name="cancelAppointment">
 <div class="modal-header" ng-controller="searchAppointmentDetailsController"><button type="button" class="close" ng-click="cancel()">&times;</button>

                <div class="vm-modal-header" >
                    <h4 class="modal-title">Confirmation</h4>
                </div>

				<div class="modal-body">
					 <div class="form-group">
                          <div class="row"><strong>Are you sure,You want to cancel ?</strong></div>
					</div>
				</div>

       			<div class="row">
                    <div class="col-md-6"></div>
					<div class="col-md-6">
						<button class="btn btn btn-success"  type="button" ng-click="CancelAppointment()" >Yes</button>&nbsp;
						<button class="btn btn btn-danger"  type="button" ng-click="cancel()" >No</button>
					</div>
					
				</div>
      </div>        
				</form>
</script> 