<div ng-controller="searchAppointmentController">
    <div class="row">
        &nbsp;</div>
    <div class="row">
        
        <div class="col-md-4" style="width:30.333333%">
        <vm-title title-value="Search Appointment" style-value="info alert-info"></vm-title>           
            <section data-ng-include=" 'app/searchappointment/view/searchappointmentgrid.html' "></section>
        </div>
        
        <div class=" col-md-8" ng-controller="searchAppointmentDetailsController">            
            <section data-ng-include=" 'app/searchappointment/view/searchappointmentdetails.html' "></section>
        </div> 
        
    </div>
</div>