<div class="row" ng-if="showSearchPatient" >
<vm-title title-value="Patient(s)" style-value="info alert-info"></vm-title>
<div ng-controller="searchPatientDetailsController as showCase" style="white-space:nowrap" >
     
    <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="table table-striped table-condensed table-responsive">
        <thead>
        <tr>
            <!-- <th class="vm-text-center"  style="width:5%;"></th> 
            <th class="vm-text-center"  style="width:5%;"></th> -->
            <th class="vm-text-center" style="width:10%;">Name</th>
            <th class="vm-text-center" style="width:10%;">UHID</th>
            <th class="vm-text-center" style="width:10%;">Contact Number</th>
            <th class="vm-text-center" style="width:10%;">Email</th>
         	<th class="vm-text-center" style="width:10%;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="patient in tblResultList_pages[tblResultList_pagesinfo.currentPage].result"> <!-- user in showCase.users -->
       		<!-- <td width="2%" >
       		 	<a control-id="CancelAppointment" tooltip="cancel" style="cursor:pointer;" ng-if="appointment.appointmentStatus != vmuisettings.appointmentStatusCancelationCode  && compareDate(appointment.appointmentStartDateTime) ">
					<i class="glyphicon glyphicon-remove red" ng-click="CancelAppt('sm',appointment)"></i>
       		 	</a>
        	</td> 
       		<td ng-click="viewAppointmentDetails(appointment,'view')" width="2%">
       			<a control-id="viewAppointmentDetails" tooltip="view"><i class="fa fa-level-down text-primary vm-cursor-pointer"></i>
        		</a>
        	</td> -->
        	<td data-column-name="Name" tooltip-append-to-body="true"><span tooltip="{{ patient.firstName}} {{ patient.middleName}} {{ patient.lastName}}">{{ patient.firstName}} {{ patient.middleName}} {{ patient.lastName}} </span></td>
        	<td data-column-name="uhid" tooltip-append-to-body="true"><span tooltip="{{ patient.uhId}}">{{patient.uhId}}</span></td>
        	<td data-column-name="contactNumber" tooltip-append-to-body="true" ><span tooltip="{{patient.contactNumber}}">{{ patient.contactNumber}}</span></td>
          	<td data-column-name="email" tooltip-append-to-body="true"><span tooltip="{{ patient.email}}">{{patient.email | characters:25}}</span></td>
        	<td data-column-name="dob" tooltip-append-to-body="true" >
        	<a href="" ng-click="BookAppointmentClicked(patient)" control-id="BookAppointment" tooltip="BookAppointment">Book Appointment</i>
        		</a>
        	</td>
        </tr>
        </tbody>
    </table>
    <serverside-pagination total-pages="tblResultList_pagesinfo.totalPages" url="patientSearchURL" current-page="tblResultList_pagesinfo.currentPage" total-records="tblResultList_pagesinfo.totalItems" current-records="tblResultList_pagesinfo.limit">
    </serverside-pagination>
 </div>
        
</div>
 