<div class="well">
    <form name="searchPatientForm" id="searchPatientForm">
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Patient Name</label>
					<input type="text" class="form-control" id="txt_patientName" placeholder="Patient Name" ng-model="patientdetails.patientName">
                </div>
            </div>
        </div>
        <div class="row">
                    <div class="col-md-12 form-group">
                        <label>
                           UHID
                        </label>
                        <input type="text" class="form-control" id="txt_uhId" placeholder="UHID" ng-model="patientdetails.uhId">
                    </div>
            </div>
            
            <div class="row">
                    <div class="col-md-12 form-group">
                        <label>
                           Email
                        </label>
                        <input type="text" class="form-control" id="txt_Email" placeholder="Email" ng-model="patientdetails.email">
                    </div>
            </div>
               <div class="row">
                    <div class="col-md-12 form-group">
                        <label>
                           Contact Number
                        </label>
                        <input type="text" class="form-control" id="txt_contactNumber" placeholder="Contact Number" ng-model="patientdetails.contactNumber">
                    </div>
            </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <button type="submit" id="btnClr" class="btn btn-default btn-block" ng-click="clearSearch(patientdetails)" style="width: 100%;">
                    Clear
                </button>
            </div>
            <div class="col-md-5">
            	<button type="submit" id="btnSubmit" class="btn btn-danger btn-block"  style="width: 100%;" ng-click="onSearchPatientClicked(patientdetails)">
                    Search
                </button>
            </div>
            <div class="col-md-1">
            </div>
        </div>
       
        
    </form>
    <br />
</div>
 
    

