<div ng-controller="searchPatientController">
    <div class="row">
        &nbsp;</div>
    <div class="row">
        
        <div class="col-md-4" style="width:30.333333%">
        <vm-title title-value="Search Patient" style-value="info alert-info"></vm-title>           
            <section data-ng-include=" 'app/searchpatient/view/searchpatientgrid.html' "></section>
        </div>
        
        <div class=" col-md-8" ng-controller="searchPatientDetailsController">            
            <section data-ng-include=" 'app/searchpatient/view/searchpatientdetails.html' "></section>
        </div> 
        
    </div>
</div>