<!--Description: The Role Form allows role to create/edit/search Role data. 
* Author: Sabariraja M    
* Created On: 1/09/2015  
* Modified For: 
* Modified On:
* Modified By:
* *-->
<div ng-controller="rolecontroller">
<div class="row">&nbsp;</div>
    <div class="row">
            <div class="col-md-10">
            <div class="col-md-5">
                <vm-title title-value="Role" style-value="info alert-info" expand-collapse="minus" control-id="title_Role"></vm-title>
                <div class="well">
                    <lookup-table templateurl="app/common/view/directiveTemplates/lookuptable/LookupTable.html" sourceurl="/role" datasource="ViewModels" control-id="role"></lookup-table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    &nbsp;</div>
                <div class="row">
                    &nbsp;</div>
                <div class="row">
                    &nbsp;</div>
                    <!--Details view place holder (Start)-->
                <section data-ng-include=" 'app/role/view/roledetails.html' "></section>
            </div>
        </div>

        <div class="col-md-2">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="openRoleModal('sm',null,'add')" id="btnRole_Add">
                    <i class="fa fa-plus"></i>&nbsp;Create</a></div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
         
            <script type="text/ng-template" id="RoleModalContent.html">
            <form name="RoleForm" ng-controller="rolecontroller" data-ng-submit="SaveRole(RoleDetails)" novalidate ngformvalidate>
            <div class="vm-modal-header" id="div_rolemodal">
                <button type="button" class="close" ng-click="cancel()">
                    &times;
                </button>
                <h3 class="modal-title">{{roleModelTitle}}</h3>
            </div>
            <div class="modal-body">
                     <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Name
                                </label>
                                <input type="text" class="form-control" id="txtName_Role" placeholder="Name"
                                       ng-model="RoleDetails.RoleName" name="Name" data-controlname="Name" ng-required="true"
                                       ngvalidate data-ng-minlength="1" maxlength="100">
                            </div>
                    </div>
                </div>
                
            	<div class="form-group">
                <label>
                    User Type
                </label>
                <vm-ui-select2 master-name="User Type" control-id="UserType" place-holder="User Type" ng-select-model="RoleDetails.UserType"
                                       source-url="/usertype" source-obj="ViewModels" required-field="true"></vm-ui-select2>
           			 
      				 </div>
                <div class="row">
                    <div class="col-md-12" id="divIsActive">
                            <div class="form-group">
                                <label>Status</label>
                                <div><toggle-switch model="RoleDetails.switchStatus"><toggle-switch></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vm-modal-footer">
                <button type="submit" class="btn btn-primary" formname="RoleForm" click-once="Saving...">Save</button>
            </div>
            </form>
        </script>
        <!-- Role form for create/edit ends -->
        
        </div>
    </div>
    </div>


