<div ng-controller="usercontroller">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-5">
                <vm-title title-value="User" style-value="info alert-info" expand-collapse="minus"
                          control-id="title_User"></vm-title>
                <div class="well">
                    <lookup-table templateurl="app/common/view/directiveTemplates/lookuptable/LookupTable.html"
                                  sourceurl="/data/Users.json" datasource="ViewModels" control-id="user"></lookup-table>
                </div>
            </div>
            <div class="col-md-7">                
                <section data-ng-include=" 'app/user/view/userdetails.html' "></section>
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="openUserModal(null)" id="btnUser_Add">
                    <i class="fa fa-plus">
                    </i>&nbsp;Create
                </a>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="userModalContent.html">
        <form name="UserForm" ng-controller="usercontroller" data-ng-submit="SaveUser(UserDetails)" novalidate ngformvalidate>
            <div class="vm-modal-header" id="div_usermodal">
                <button type="button" class="close" ng-click="cancel()">
                    &times;
                </button>
                <h3 class="modal-title">{{userModelTitle}}</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" class="col-md-12" id="txtHiddenUserId" name="txtHiddenUserId" placeholder="" ng-model="UserDetails.Id">
                <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                    <section data-ng-include=" 'app/user/view/userpersonaldetails.html' "></section>
                    <section data-ng-include=" 'app/user/view/useradditionaldetails.html' "></section>
                    <section data-ng-include=" 'app/user/view/userroles.html' "></section>
                </perfect-scrollbar>
            </div>
            <div class="vm-modal-footer">
                <button type="submit" class="btn btn-primary" formname="UserForm" click-once="Saving...">Save</button>
            </div>
        </form>
    </script>
</div>
