﻿<!--<div class="row">
    <form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control input-md" id="{{txt+ViewName+Name}}" /></div>
    <button type="submit" class="btn btn-danger vm-search-button" id="{{btn-glpv-search_+ViewName}}">
        Search</button>
    </form>
</div>-->
<div class="row">
    <table datatable="ng" dt-options="lookUpDtOptions" dt-column-defs="lookUpDtColumnDefs"
           class="table table-striped table-condensed table-responsive">
        <thead class="ng-hide">
            <tr>
                <th class="vm-text-center">
                </th>
                <th class="vm-text-center" data-column-name="Name">
                    Name
                </th>
                <th class="vm-text-center" data-column-name="ID">
                    ID
                </th>
                <th class="vm-text-center" data-column-name="Code">
                    Code
                </th>
                <th class="vm-text-center ng-hide" data-column-name="Status">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in LookUpData | orderBy:'Name'">
                <td width="2%;">
                    <!--<a ng-click="openMasterModal(data)" class="View"><i class="View fa fa-level-down text-primary"></i></a>&nbsp;&nbsp;-->
                    <span tooltip=Edit style="float: none; position: static;" class="vm-cursor-pointer">
                        <a ng-click="openLookUpModal(data)"><i class="fa fa-edit text-primary"></i></a>
                    </span>
                    <!--&nbsp;&nbsp;<a href="javascript:void(;)"><i class="fa fa-trash-o text-danger"></i></a>-->
                </td>
                <td width="98%;" ng-click="showLookUpDetails(data)" class="vm-cursor-pointer" data-column-name="Name">
                    {{ data.Name | characters:50}}
                </td>
                <td class="vm-text-center ng-hide" data-column-name="ID">
                    {{ data.Id }}
                </td>
                <td class="vm-text-center ng-hide" data-column-name="Code">
                    {{ data.Code }}
                </td>
                <td class="vm-text-center ng-hide" data-column-name="Status">
                    {{ data.Status }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
