﻿<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>
                First Name
            </label>
            <input type="text" class="form-control" id="txtFirstName_User" placeholder="First Name"
                ng-model="UserDetails.PersonalDetails.FirstName" name="txtFirstName_User" data-controlname="First Name"
                ng-required="true" ngvalidate data-ng-minlength="3">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Middle Name
            </label>
            <input type="text" class="form-control" id="txtMiddleName_User" placeholder="Middle Name"
                ng-model="UserDetails.PersonalDetails.MiddleName">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Last Name
            </label>
            <input type="text" class="form-control" id="txtLastName_User" placeholder="Last Name"
                ng-model="UserDetails.PersonalDetails.LastName" name="txtLastName_User" data-controlname="Last Name"
                ng-required="true" ngvalidate data-ng-minlength="1">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Employee ID
            </label>
            <input type="text" class="form-control" id="txtEmpId_User" placeholder="Employee Id" ng-model="UserDetails.PersonalDetails.EmployeeID"
                   name="txtEmpId_User" data-controlname="Employee ID" ng-required="true" maxlength="20" ngvalidate>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Date Of Birth</label>
            <vm-date-picker control-id="txtDOB_User" ng-class="date-required" control-name="Date of Birth" field-required="true" 
            ng-date-selected="RegistrationDetails.PersonalDetails.DateofBirth"></vm-date-picker>            
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Manager</label>
            <vm-ui-select2 control-id="cboManager" place-holder="Manager" ng-select-model="UserDetails.PersonalDetails.Manager"
                source-url="/data/dropdown-data.json" source-obj="user" required-field="false"></vm-ui-select2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Gender</label>
            <vm-ui-select2 control-id="cboGender" place-holder="Gender" ng-select-model="UserDetails.PersonalDetails.Gender"
                           source-url="/data/dropdown-data.json" source-obj="Gender" required-field="false"></vm-ui-select2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Mobile No.
            </label>
            <div class="controls">
                <input type="text" class="form-control" id="txtMobileNo_User" placeholder="Mobile Number"
                       ng-model="UserDetails.PersonalDetails.MobileNumber" name="txtMobileNo_User" data-controlname="Mobile Number" maxlength="10"
                       ngvalidate>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Phone No.
            </label>
            <input type="text" class="form-control" id="txtPhoneNo_User" placeholder="Phone Number"
                   ng-model="UserDetails.PersonalDetails.PhoneNumber" name="txtPhoneNo_User" data-controlname="Phone Number" maxlength="10"
                   ngvalidate>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Date Of Joining</label>
            <vm-date-picker control-id="txtDateOfJoining_User" ng-class="date-required" control-name="Date Of Joining" field-required="true" 
            ng-date-selected="UserDetails.User.DateofJoining"></vm-date-picker>            
        </div>
    </div>
    <div class="col-md-4" id="divIsActive">
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    Status</label>
                <div>
                    <toggle-switch model="UserDetails.PersonalDetails.switchStatus"><toggle-switch>
</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>
                Email
            </label>
            <input type="email" name="txtEmail_User" data-controlname="Email" ng-pattern="/^[a-zA-Z0-9-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]{2,5}$/"
                   class="form-control" id="txtEmail_User" placeholder="Email" ng-model="UserDetails.PersonalDetails.Email"
                   ng-required="true" ngvalidate>
        </div>
    </div>
</div>
<div class="row" ng-if="AddUser">
    <div class="col-md-6">
        <div class="form-group">
            <label>
                Password
            </label>
            <input type="password" name="txtPassword" data-controlname="Password" class="form-control password"
                   id="txtPassword" placeholder="Password" ng-model="UserDetails.PersonalDetails.Password" ng-required="true"
                   ngvalidate data-ng-minlength="3">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>
                Confirm Password
            </label>
            <input type="password" name="txtconfirmPassword" data-controlname="Confirm Password"
                   class="form-control cmp-password" id="txtconfirmPassword" placeholder="Password"
                   ng-model="UserDetails.PersonalDetails.ConfirmPassword" ng-required="true" match="UserDetails.PersonalDetails.Password"
                   ngvalidate>
        </div>
    </div>
</div>
