﻿<div>
    <vm-title title-value="Role(s)" style-value="info alert-info" expand-collapse="minus"
              control-id="title_Roles"></vm-title>
    <div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4" ng-repeat="Role in Roles | orderBy: 'Name'">
                    <input type="checkbox" checklist-model="UserDetails.AdditionalDetails.Roles" checklist-value="Role.code" class="vm-dummy-Roles" />&nbsp;&nbsp;{{Role.name}}
                </div>
            </div>
        </div>
    </div>
</div>