﻿<div>
    <vm-title title-value="Additional Attributes" style-value="info alert-info" expand-collapse="minus"
              control-id="title_AdditionalAttributes"></vm-title>
    <div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label>
                    Designation
                </label>
                <vm-ui-select2 control-id="cboDesignation" place-holder="Designation" ng-select-model="UserDetails.AdditionalDetails.Designation"
                               source-url="/data/dropdown-data.json" source-obj="user" required-field="false"></vm-ui-select2>
            </div>
            <div class="col-md-6 form-group">
                <label>
                    Department
                </label>
                <vm-ui-select2 control-id="cboDepartment" place-holder="Department" ng-select-model="UserDetails.AdditionalDetails.Department"
                               source-url="/data/dropdown-data.json" source-obj="user" required-field="false"></vm-ui-select2>
            </div>
        </div>
        <div class="row" id="divOnSite">
            <div class="col-md-4" id="divActiveOnsite">
                <div class="form-group">
                    <label>Onsite</label>
                    <div><toggle-switch model="UserDetails.Onsite"><toggle-switch></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Client
                    </label>
                    <vm-ui-select2 control-id="cboClient" place-holder="Client" ng-select-model="UserDetails.AdditionalDetails.Client"
                                   source-url="/data/dropdown-data.json" source-obj="user" required-field="false"></vm-ui-select2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Location
                    </label>
                    <vm-ui-select2 control-id="cboLocation" place-holder="Location" ng-select-model="UserDetails.AdditionalDetails.Location"
                                   source-url="/data/dropdown-data.json" source-obj="Country" required-field="false"></vm-ui-select2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        EXT.
                    </label>
                    <input type="text" class="form-control" id="txtEXT_User" placeholder="EXT. Number"
                           ng-model="UserDetails.AdditionalDetails.EXTNo" name="txtEXT_User" data-controlname="EXT. Number"
                           ngvalidate>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label>
                        Gravatar Url
                    </label>
                    <input type="text" class="form-control" id="txtGravatarUrl_User" placeholder="Gravatar Url"
                           ng-model="UserDetails.AdditionalDetails.Gravatar" name="txtGravatarUrl_User" data-controlname="Gravatar Url"
                           ngvalidate>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        PF Number
                    </label>
                    <input type="text" class="form-control" id="txtPFNO_User" placeholder="PF Number"
                           ng-model="UserDetails.AdditionalDetails.PFNumber" name="txtPFNO_User" data-controlname="PF Number"
                           ngvalidate>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        PAN
                    </label>
                    <input type="text" class="form-control" id="txtPAN_User" placeholder="PAN"
                           ng-model="UserDetails.AdditionalDetails.PAN" name="txtPAN_User" data-controlname="PAN"
                           ngvalidate>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Blood Group
                    </label>
                    <input type="text" class="form-control" id="txtBloodGroup_User" placeholder="Blood Group"
                           ng-model="UserDetails.AdditionalDetails.BloodGroup" name="txtBloodGroup_User" data-controlname="Blood Group"
                           ngvalidate>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    Marital Status
                </label>
                <vm-ui-select2 control-id="cboMaritalStatus" place-holder="MaritalStatus" ng-select-model="UserDetails.AdditionalDetails.MaritalStatus"
                               source-url="/data/dropdown-data.json" source-obj="MaritalStatus" required-field="false"></vm-ui-select2>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Date Of Anniversary</label>
                    <vm-date-picker control-id="txtDateOfAnniversary_user" ng-class="date-required" control-name="Date Of Anniversary" field-required="true" 
                    ng-date-selected="UserDetails.AdditionalDetails.DateOfAnniversary"></vm-date-picker>            
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row" id="divAdditionalControls">
            <div class="col-md-4" id="divActiveResigned">
                <div class="form-group">
                    <label>Resigned</label>
                    <div><toggle-switch model="UserDetails.Resigned"><toggle-switch></div>
                </div>                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Date Resigned</label>
                    <vm-date-picker control-id="txtDateResigned_user" ng-class="date-required" control-name="Date Resigned" field-required="true" 
                    ng-date-selected="UserDetails.AdditionalDetails.DateResigned"></vm-date-picker>            
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>