﻿<div>
    <div ng-if="UserViewClicked">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <section data-ng-include=" 'app/webcam/view/webcamera.html' "></section>
                </div>
                <div class="col-md-7">
                    <blockquote>
                        <p>&nbsp;{{username}}</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="evtdetails">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr ng-hide="true">
                                <td>
                                    Name
                                </td>
                                <td>
                                    <i class="fa fa-user"></i>&nbsp;{{details.name}}
                                </td>
                            </tr>
                            <tr>
                                <td style="width:150px;">
                                    Email
                                </td>
                                <td>
                                    <i class="fa fa-envelope"></i>&nbsp;{{details.email}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Status
                                </td>
                                <td>
                                    <span ng-if="Status === 'Enabled'"><i class="fa fa-circle green"></i></span>
                                    <span ng-if="Status === 'Disabled'"><i class="fa fa-circle red"></i></span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
