/*
Theme Name: Luminus
Theme URI: http://wpeden.com/product/eden-fresh-responsive-corporate-wordpress-theme/
Author URI: http://wpeden.com
Description: Luminus 100% Responsive, Highly Customizable and SEO Friendly Theme using Twitter Bootstrap . This theme is will make your website adaptable with any type of devices. Theme Features: Custom Homepage Settings, 3 Page Templates, Custom Background Support, Search Engine Friendly.  
Author: Shaon
Version: 1.0.0
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: black, blue, white, two-columns, fixed-width, threaded-comments, sticky-post, microformats,  editor-style, custom-menu, custom-background

Luminus - WordPress Theme, Copyright 2013 wpeden.com
Luminus - WordPress Theme is distributed under the terms of the GNU GPL
 
*/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700); 
@import url(bootstrap/css/bootstrap.min.css);
 /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {    
      font-family: 'Open Sans';
      font-weight: 400;  
      color: #5a5a5a;
      font-size:10pt;
      background: #ffffff;
      
    }
    
    #wrapper{
        padding:10px;
        background: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container{
        max-width: 1000px;
    }

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper{
       padding-bottom: 0px;  
       margin-bottom: 20px;          
       margin-top: 20px;          
       
    }
    /*.home .navbar-wrapper{
      position: absolute;    
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      padding-top:  0px;  
      padding-bottom: 0px;         
      background: transparent;
      margin-top: 20px;
      margin-bottom: -90px;
    }*/
     
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      background: transparent;
      text-shadow:none;
      box-shadow:none;
      margin:0px;
      padding:0px;
    } 

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 5px 20px;
      font-weight: 400;
      color:#333;
      text-shadow:none;
      border-radius: 4px;
      margin-right:5px; 
    }
    
    .navbar .nav a{
      font-size: 10pt;  
      -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
    }

    
    
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown:hover > .dropdown-toggle .caret {
        border-bottom-color: #FFFFFF;
        border-top-color: #FFFFFF;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

 .dropdown-menu{
     border-radius:0px;
 }
  

    .entry-title{
        font-size:14pt;
        font-weight: 700;
        margin:0px;
        padding: 0px !important;
      
        line-height: normal;
    }
  
    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

    .carousel{
          margin:0px;
      }

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }
      
      

      .carousel .item {
      
      }
      .carousel img {
        width: auto;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
    

  
a{
    color: #226AC1;
} 

h1,h2,h3,h4{ font-family: 'Open Sans'; }
h1{ font-size:24pt; margin: 5px 0px; } 
h2{ font-size:20pt; margin: 5px 0px; } 
h3{ font-size:14pt; margin: 5px 0px; } 
h4{ font-size:12pt; margin: 5px 0px; } 

 
.box .header,.box h3{
margin: 0px;
margin-bottom: 5px;  
padding: 5px;
display: block;
line-height: 25px;
}

.hlight{
background: #fff4ca;
background: -moz-linear-gradient(top, #fff4ca 0%, #fffbef 82%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff4ca), color-stop(82%,#fffbef));
background: -webkit-linear-gradient(top, #fff4ca 0%,#fffbef 82%);
background: -o-linear-gradient(top, #fff4ca 0%,#fffbef 82%);
background: -ms-linear-gradient(top, #fff4ca 0%,#fffbef 82%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4ca', endColorstr='#fffbef',GradientType=0 );
background: linear-gradient(top, #fff4ca 0%,#fffbef 82%);
border:1px solid #FCEAA9;
}
 
 

.title{
background: #e2eeff;
background: -moz-linear-gradient(top, #e2eeff 22%, #bfdbff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#e2eeff), color-stop(100%,#bfdbff));
background: -webkit-linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
background: -o-linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
background: -ms-linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eeff', endColorstr='#bfdbff',GradientType=0 );
background: linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
border-bottom: 1px solid #7AB1FF;     
color: #000;
line-height: 20px;
padding: 8px 15px; 
font-size: 9pt;  
  
}
   

h2{
    font-size: 13pt;
}
.post h2.entry-title{
    margin-top: 0px;
    line-height: normal;    
}
.post{     
    clear: both;
    display: block;      
}
.green_posts h2 a{
    font-size: 11pt;
}
 
.form-allowed-tags{
    font-family: 'courier new';
    color: #aaa;
}
.meta{
    font-size: 8pt;
    margin-bottom: 5px;
     
    margin-top: 3px;
     
}
.arc .meta{     
    color: #aaa !important;
}
.arc p{
    padding-left: 0px;     
}
 
.bypostauthor{     
    background: #eee;     
}
.comment-meta *{
    font-size: 8pt;
}
.green_posts .meta,.green_posts .meta *{
    color: #336699;    
}
.green_posts a{
    color: #2765B5;
    text-decoration: none;
}
 
.sidebar .box{
    width: 100%;
}

.box a{
    color: #226AC1;
    text-decoration: none;
}

.widget_content a:hover{
    text-decoration: underline;
}
.widget_content{
    padding: 10px 20px;    
}
.widget-footer ul{
    margin: 0px;
    padding: 0px !important;
}
.widget li{    
    list-style: none;    
    padding: 3px 0px;     
}

#wp-calendar{
    width: 100%;
}
#wp-calendar *{
    text-align: center;
}
.box h3{
    /*overflow: hidden;*/     
}

.post ol,.post ul{
    margin-left: 20px;
    list-style: square;
}
h1,h2,h3,h4{     
    clear: both;
    display: block;
}
.post h1{
    font-size:20pt;    
}
.home-box{
    min-height:150px;
    /*overflow: hidden;*/
}
table{
    width: 100%;     
    border-collapse: collapse;   
    border-bottom:0px solid  #eeeeee;
}

th{
background: #f5f5f5;
border-bottom:1px solid  #eeeeee;
padding: 5px;
text-align: left;
}

td{
    padding: 5px;
    border-bottom:1px solid  #eeeeee;
}
.mx_comments ul ul,
.mx_comments ol ol{
    margin-left: 65px;
}
del{
    color:#800000;
}
.mx_comments ul li{
    list-style: none;
    margin-bottom: 10px;
}
.mx_comments .comment-body .comment-wrap{
    float: right;
    width:650px;
    max-width: 100%;
}
 
.mx_comments .children .comment-body .comment-wrap{    
    float: right;
    width:585px;
    max-width: 100%;
}
.mx_comments .author-box{
    float: left;
    padding: 5px;
    margin-right: 10px;
    width: 100px;
   /* -moz-box-shadow: inset 0 0 5px #888;
-webkit-box-shadow: inset 0 0 5px#888;
box-shadow: inner 0 0 5px #888;  */
}

.mx_comments .commentmetadata a{
    color: #777777;
}
.mx_comments .commentmetadata{
    font-size:12pt;    
    display: block;     
    line-height: 25px;
    color: #777777;
}

.post ol li,
.mx_comments .comment-content ol li{
    list-style: decimal;
}

.post ul li,
.mx_comments .comment-content ul li{
    list-style: square;
}

.mx_comments .comment-content ol,
.mx_comments .comment-content ul{
    margin-left: 0px;
}
.mx_comments .comment-content ol ol,
.mx_comments .comment-content ul ul{
  margin-left: 20px;   
}
.comment-content{
    padding-right: 10px;
}

 
 
.comment-content img, .reply-content img{
    max-width: 100%;
}
#cancel-comment-reply-link,.mx_comments .comment-reply-link{
cursor: pointer;    
background: #ccc;
color:#fff;
font-size: 9pt;
padding:2px 10px 4px 10px;
float: right;
font-style: italic;
color:#333; 
margin-bottom: 10px;
}
#commentform p{
    margin-bottom:5px;
 
}
#commentform p .required{
    color: #ff0000;
}
#commentform p label{
    font-weight: bold; 
    width: 200px;
    color: #aaa;      
}
#commentform p input[type=text]{
    display: block;
    padding: 5px;
 
width: 89%;
                           
}
.comment-form-author,.comment-form-email,.comment-form-url{
    width:33%;
    float: left;
    clear: none !important;
}
 
.mx_comments .commentmetadata .fn ,
.mx_comments .commentmetadata .fn a{
    float: left;
    margin-right: 10px;    
    font-size: 12pt;
    color: #2765B5 !important;    
    
}
#commentform textarea{
    width: 98%;
    padding: 5px;
}

#respond{
    padding-top: 20px;
    margin-top: 20px;    
}
.single p{display: block;clear: both; font-size:10pt;}

 
.alignright{
    float: right;
    margin: 10px 0px 10px 10px;
}
.alignleft{
    float: left;
    margin: 5px 10px 5px 0px;
}
.aligncenter{
    display: block;   margin-left: auto;   margin-right: auto;
}
.wp-caption-text{
    text-align: center;
}
 
.footer .container{
    background: #333;  
}
.footer{
    width: 100%;   
    color: #fff;
}
.footer select,
.footer tfoot td,
.footer th{
    background: #222;
    font-size:11pt;
}
.footer *{
    color: #fff;
}

.footer .content{
    text-align: center;
    padding: 10px;
    color: #fff;
}

.footer .header{
    margin-left: 20px;
}

.footer .content *{
    color: #fff;
}

.gallery-caption{
    

} 

.bypostauthor{
    
}

.new-downloads li:nth-child(odd), .top-downloads li:nth-child(odd) {
    background: #f1f1f1;
}
.new-downloads li,.top-downloads li{
    margin-bottom: 5px;
}
.new-downloads img,.top-downloads img{
    margin-right: 5px;
}

ul ul{
    margin-left: 15px;
}

table.dtable{  width:620px; }
table.dtable *{ text-align: center !important; }
.fieldset{ border: 1px solid #7AB1FF; padding: 10px; margin-top: 10px;width:600px;}
.fieldset legend{ font-size: 13pt;}
.wpdm_package{background: #fafafa;}
.share, .share *{ border: 0px;}
.share td{
    width: 20%; overflow: hidden;
}

 

.sidebar .fieldset{
    width: 290px;
    margin-left: 4px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.sidebar a.download-link{
    margin-left: 10px;
}
.preview_img{
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

.home-box h3 img{
    margin-top: 3px;
}

.wp-caption img{
  max-width: 98.6%;    
}
.wp-caption{
  padding: 0px;
  border: 1px solid #5896C9;   
  display: block;
  max-width: 100%;  
/*    -moz-box-shadow: inset 0 0 5px #2765B5;
-webkit-box-shadow: inset 0 0 5px #2765B5;
box-shadow: inner 0 0 5px #2765B5;  */
    
}
.wp-caption .wp-caption-text{
    background: #C7E6F9;
    padding: 5px;
    margin: 0px;
    
}
.wp-caption img{
    padding: 0px;
    margin: 5px;
    margin-bottom: 0px;
}
.wp-smiley{
    
    border: 0px;
}

.post-categories li{
    list-style: none;
    float: left;
    margin-right: 5px;
}

ol li{
    list-style: decimal;
}

.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
 span.reference a{
            text-shadow:1px 1px 1px #000;
            color:#999;
            text-transform:uppercase;
            text-decoration:none;
            position:fixed;
            right:10px;
            top:10px;
            font-size:13px;
            font-weight:bold;
 }
span.reference a:hover{
color:#555;
}
h1.title{
  color:#777;
  font-size:30px;
  margin:10px;
  font-weight:normal;  
}
 .footer_menu .current-menu-item a{
     background: transparent;
     font-weight: bold;
 }
 .footer_menu a{
     font-size:11px;
     font-style: italic;
 }
 .nav-next{
     float: right;     
     margin: 10px 12px 10px 0;
 }
 .nav-previous{
     float: left;
     margin: 10px 0px;
     
 }
 .nav-previous a,
 .nav-next a{
    padding: 5px 10px;
    color: #000; 
    font-weight: 300;
    background: #FFCD00; 
    font-size: 12pt;
 }
 .clear{
     clear: both;
 }
 .widget > div, 
 .widget > form, 
 .widget > p,
 .widget > ul,
 .widget > ol,
 .widget > table{
     padding: 10px 0px;
 }
 form.input{
     max-width:100% !important;
 }
 
 p.attachment img{
     margin: 0px auto;
 }
 
p.attachment img.alignleft{}
    


 .footer .widget h3{
     font-size:16pt;
      
 }
   
 .footer .content{
     margin-top:20px;
     background: #222222;      
 }

 .edenfresh-bs-services .btn{
     color: #555;
 }
 
 .edenfresh-bs-services h2{
     font-family: 'Open Sans';
     font-size: 18pt;
     font-weight: 300;
 }
 h1{
    font-family: 'Open Sans';
     font-size: 24pt;
     font-weight: 300; 
 }
 p{
     font-family: 'Open Sans';
     font-size: 12pt;
     font-weight: 300;
     line-height: 1.7;
     margin-top:10px;
 }

#commentform code{
    display: block;
    float:left;
    max-width: 100%;
    white-space: normal !important;
    margin-bottom:10px;
}
.box.widget li,
.box.widget a,
.box.widget{ 
     font-size:10pt;  
}
.box.widget{
  margin-bottom:20px;  
  /*padding-left: 20px;*/

}


.box.widget ul{
    margin-left:4px;
}
.box.widget ul li{
    margin:0px;
}
.box.widget li,
.box.widget p{
    font-size: 11pt;
}

.navbar-wrapper li{
    line-height: 25px !important;
}

.navbar .nav .dropdown-toggle .caret{
    margin-top: 2px !important;
}
.dropdown-submenu > a:after{
    margin-top: 8px !important;
}
   

.dropdown-menu a{
     font-size: 11pt;
     font-weight: 300 !important;
     line-height: 25px !important;
     border-bottom: 1px solid #f8f8f8;     
 }
 .arc-header{
     margin-left: 0px;     
      
 }

 
 .mx_comments .commentlist {
     margin: 0px;
 }
 .mx_comments .commentlist li.pingback{
     padding: 5px;
 }
 .mx_comments .commentlist li{
     list-style: none;
     margin-bottom: 10px !important;
     font-size:10pt;
 }
 
 .type-post, .type-post .post,
 .type-page, .type-page .post{
     margin:0px !important;
     padding:0px !important;
 }
 
 .commentlist li{
     background: rgba(222,222,222,0.4);
 }
 
 .post:first-child{
     margin-top:0px;
 }
 .breadcrumb{
     margin-bottom: 10px;
     font-size: 10pt;
 }

 .home-cat-single:hover img,
 .home .about.well:hover img{
     opacity:1;
     transition: opacity .50s ease-in-out;
     -moz-transition: opacity .50s ease-in-out;
     -webkit-transition: opacity .50s ease-in-out;
 }
 
 .home-cat-single .edenfresh-blank-thumb{
     border: 1px solid #eee;
 }
 .about.well .edenfresh-blank-thumb{
     border:0px;
 }
 .home-cat-single img,
 .home .about.well img{
     opacity:0.7;          
     transition: opacity .50s ease-in-out;
     -moz-transition: opacity .50s ease-in-out;
     -webkit-transition: opacity .50s ease-in-out;
 }
 .home .about.well{
     padding:0px;
     border:1px solid #fafafa;
 }
 .home .about .entry-content{
     padding:0px 10px;
 }
 .media-heading{
     line-height: normal;
 }
 .media, .media .media{
     margin-top: 10px;
 }
 .home .media .media-body{
     position: absolute;
     display: none;
 }
 .home .media{
     background: #fafafa;
     width:160px;
     height: 125px;
     float: left;     
     display: block;
     margin:0px 7px 7px 0;
 }
 .home .media:last-child{
     margin-right: 0px;
 }
 
 .mt5{
     margin-top: 9px;
 }
 
 .navigation .next-link{
     float: right;
 }
 .navigation{
     margin-bottom: 10px;
 }
 
.entry-content{
    margin-bottom: 10px;
}
.entry-content,
.entry-content p{
    font-size:14px;
}
.home-cat{
    font-size: 13pt;
    margin-bottom:15px;
}
#nav-single{
    float: right;
    margin-top: -5px;     
    margin-right: -10px;
}
.btn-info,
.btn-info *,
.btn-info *:hover{
    color:#fff !important;
}
.home-cat-single .entry-title{
    min-width: 100%;
    font-size: 11pt;
    line-height: normal;
}
.home-cat-single .breadcrumb{
    margin-bottom: 0px;
}
.home-cat-single .breadcrumb,
.home-cat-single .entry-title{
   background: transparent; 
   float: left;
   margin-right:10px;
   padding-left: 0px !important;
}
.home-cat-single .entry-content .entry-title{
    padding-left:10px;
}

.home-cat-single:hover .entry-content{
    display: block;
}

.home-cat-single{
    display: block;
}
.thumbail img{
    height:auto !important;
}


/* slider */
  
.mi-slider {
    position: relative;     
    height: 450px;
}

.mi-slider ul {
    list-style-type: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 140px;
    overflow: hidden;
    text-align: center;
    pointer-events: none;
}

.no-js .mi-slider ul {
    position: relative;
    left: auto;
    bottom: auto;
    margin: 0;
    overflow: visible;
}

.mi-slider ul.mi-current {
    pointer-events: auto;
}

.mi-slider ul li {
    display: inline-block;
    padding: 20px;
    width: 20%;
    max-width: 300px;
    -webkit-transform: translateX(600%);
    transform: translateX(600%);
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.no-js .mi-slider ul li {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.mi-slider ul li a,
.mi-slider ul li img {
    display: block;
    margin: 0 auto;
}

.mi-slider ul li a {
    outline: none;
    cursor: pointer;
}

.mi-slider ul li img {
    max-width: 100%;
    border: none;
}

.mi-slider ul li h4 {
    display: inline-block;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 10px 0;
}

.mi-slider ul li:hover {
    opacity: 0.7;
} 
.mi-slider *{
    color:#eee;
}
.mi-slider nav {
    position: relative;
    top: 360px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border-top: 5px solid #ffffff;
}

.no-js nav {
    display: none;
}

.mi-slider nav a {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 40px 30px 30px 34px;
    position: relative;
    color: #aaaaaa;
    outline: none;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.mi-slider nav a:hover,
.mi-slider nav a.mi-selected {
    color: #ffffff;
    background: transparent;
}

.mi-slider nav a.mi-selected:after,
.mi-slider nav a.mi-selected:before {
    content: '';
    position: absolute;
    top: -5px;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.mi-slider nav a.mi-selected:after {
    border-color: transparent;
    border-top-color: #ffffff;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

.mi-slider nav a.mi-selected:before {
    border-color: transparent;
    border-top-color: #ffffff;
    border-width: 27px;
    left: 50%;
    margin-left: -27px;
}

/* Move classes and animations */

.mi-slider ul:first-child li,
.no-js .mi-slider ul li {
    -webkit-animation: scaleUp 350ms ease-in-out both;
    animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
    0% { -webkit-transform: translateX(0) scale(0); }
    100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
    0% { transform: translateX(0) scale(0); }
    100% { transform: translateX(0) scale(1); }
}

.mi-slider ul:first-child li:first-child {
    -webkit-animation-delay: 90ms;
    animation-delay: 90ms;
}

.mi-slider ul:first-child li:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}

.mi-slider ul:first-child li:nth-child(3) {
    -webkit-animation-delay: 270ms;
    animation-delay: 270ms;
}

.mi-slider ul:first-child li:nth-child(4) {
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
}

/* moveFromRight */

.mi-slider ul.mi-moveFromRight li {
    -webkit-animation: moveFromRight 350ms ease-in-out both;
    animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.mi-slider ul.mi-moveFromLeft li {
    -webkit-animation: moveFromLeft 350ms ease-in-out both;
    animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.mi-slider ul.mi-moveToRight li {
    -webkit-animation: moveToRight 350ms ease-in-out both;
    animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.mi-slider ul.mi-moveToLeft li {
    -webkit-animation: moveToLeft 350ms ease-in-out both;
    animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.mi-slider ul.mi-moveToLeft li:first-child,
.mi-slider ul.mi-moveFromRight li:first-child,
.mi-slider ul.mi-moveToRight li:nth-child(4),
.mi-slider ul.mi-moveFromLeft li:nth-child(4) {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(2),
.mi-slider ul.mi-moveFromRight li:nth-child(2),
.mi-slider ul.mi-moveToRight li:nth-child(3),
.mi-slider ul.mi-moveFromLeft li:nth-child(3) {
    -webkit-animation-delay: 90ms;
    animation-delay: 90ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(3),
.mi-slider ul.mi-moveFromRight li:nth-child(3),
.mi-slider ul.mi-moveToRight li:nth-child(2),
.mi-slider ul.mi-moveFromLeft li:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(4),
.mi-slider ul.mi-moveFromRight li:nth-child(4),
.mi-slider ul.mi-moveToRight li:first-child,
.mi-slider ul.mi-moveFromLeft li:first-child  {
    -webkit-animation-delay: 270ms;
    animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
    0% { -webkit-transform: translateX(600%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
    0% { -webkit-transform: translateX(-600%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
    0% { transform: translateX(600%); }
    100% { transform: translateX(0); }
}

@keyframes moveFromLeft {
    0% { transform: translateX(-600%); }
    100% { transform: translateX(0); }
}

@keyframes moveToRight {
    0% { transform: translateX(0%); }
    100% { transform: translateX(600%); }
}

@keyframes moveToLeft {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-600%); }
}

.mi-slider {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Media Queries */
@media screen and (max-width: 910px){
    .mi-slider nav {
        max-width: 90%;
    }
    .mi-slider nav a {
        font-size: 12px;
        padding: 40px 10px 30px 14px;
    }
}

@media screen and (max-width: 740px){
    .mi-slider {
        height: 300px;
    }
    .mi-slider nav {
        top: 220px;
    }
}

@media screen and (max-width: 490px){ 
    .mi-slider {
        text-align: center;
        height: auto;
    }

    .mi-slider ul {
        position: relative;
        display: inline;
        bottom: auto;
        pointer-events: auto;
    }

    .mi-slider ul li {
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
        padding: 10px 3px;
        min-width: 140px;
    }

    .mi-slider nav {
        display: none;
    }
}

 
.call-to-action{
    margin: 0px auto;
}
.sticky{
    border:1px solid #ccc;
}
input#s{
    margin-bottom: 0px;   
    width:180px;
}

#nav-below{
    margin-left: 0px;
    margin-right: 0px;
    
}
.box.widget ul{
    margin-left:4px;
}
.box.widget ul,
.box.widget ul li{
    margin:0px;
}
.box.widget li{
    border-bottom: 1px solid #f1f1f1;
    padding:5px 0px !important;
}
.box.widget li,
.box.widget p{
    font-size: 11pt;
}

.service-box *,
.service-box h3 a:hover,
.service-box h3 a{
    color: #ffffff;
    text-decoration: none;
}
.service-box .entry-content{
    padding: 10px;text-align: center;color:#fff
    margin-top:-60px;
    margin-bottom:25px;
}
.service-box h3{
    font-size:13pt;
    line-height: normal;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top:55px;
}



.fps-portfolio {
    background:#607988;
}

blockquote.dark *{
    color: #ffffff !important;
}
blockquote.dark{
    background: #222222;
    color: #eee;
    margin:10px 0px;
}

blockquote h3{
    font-size:14pt;
    line-height: normal;
    margin:5px 0px;
}

.c-icon-btn,
.section-head a{
    padding:0px 7px 2px;
    
    color: #fff;
    border: 2px solid #fff;
    background: rgba(42, 53, 60, 0.3);
    -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.section-head .icon{
    color: #fff;
    font-size:9pt;
    text-shadow:none;
}

.c-icon-btn:hover,
.section-head a:hover{
    text-decoration: none;
    background: rgba(42, 53, 60, 0.9);
    
}

.section-head a  i{
    margin-bottom: 2px;
}

.section-head{
    font-size: 13pt;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.portfolio-item .mask .info{
    margin-top:5px;
}
 
 
.portfolio-item .mask{
    text-align: center;
}
.portfolio-item .mask h3{
    color: #fff;
    line-height: normal;
    font-size:10pt;
    text-align: center;
    font-weight: 400;
} 
  
.edenfresh-portfolio-4col .tbox{
    margin-bottom:20px;
    height:270px;
}
.edenfresh-portfolio-4col .tbox:nth-child(4n+1){
    margin-left:0px;
}
.edenfresh-portfolio-4col h2{
    font-size:13pt;
    line-height: normal;
}
 
.edenfresh-portfolio .span3{
    margin:0px;
    width: 25%;
    height: 248px;
    -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}



iframe,
embed,
object {
    max-width: 100%;
}

.footer img,
.box.widget img{
    max-width: 98% !important;
    height: auto !important;
}
.box.widget ul ul{
    margin-left:20px;
    border-top: 1px solid #f5f5f5;
}
.box.widget ul ul li:last-child{
    border-bottom:0px;
}
.media-body li{
    background: transparent;
    padding-right: 5px;
}

*{
    text-shadow:none !important;
}
.top-nav{
   margin-bottom: 20px;
   padding-bottom: 10px;
}
.single .top-nav,
.single-post .top-nav,

.top-nav .navbar{
    margin-bottom:0px;
}
.portfolio-head{
    background: #4EB48D;
}
#portfolio-carousel{
    margin-bottom: 0px;
}


.carousel-control.right{
    right:0px;
}

.carousel-indicators li{
    width:30px;
    height:10px;
    cursor:pointer;
    border-radius:0px;
}

.carousel-caption {
    background: transparent;
}
.carousel-caption h2 a{
    color: #fff;
}
.carousel-caption h2{
    background: transparent;
    margin-top:-90px;
    margin-left:90px;
    background: rgba(42, 53, 60,0.7);
    color: #fff;
    padding:10px 20px;
    float:left;
}

.acthive-page-3 > .row-fluid{
    margin-bottom: 20px;
}
