
<div class="row" ng-controller="bookAppointmentController">

    <div class="row"></div>
     <div class="row"></div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <vm-title title-value="Appointment Summary" style-value="info alert-info"  control-id="title_AppointmentSummary"></vm-title>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <p>Thank you for choosing our Hospital as your healthcare provider. Your registration and appointment confirmation details are given below:</p>
                </div>
            </div>
            <div>
                <vm-title title-value="Appointment Details" style-value="info alert-info"  control-id="title_AppointmentDetails"></vm-title>
                <div class="row">
                    
                        <div class="col-md-6 form-group">
                       
                            <label style="width:150px;">
                                Appointment ID:
                            </label>
                            {{appointmentId}}
                            
                        </div>
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                Appointment Date:
                            </label>
                            {{AppointSuccessAppointmentDate}}
                        </div>
                            
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                Doctor Name:
                            </label>
                            {{AppointSuccessDocDesignation}}&nbsp;{{AppointSuccessDocName}}
                        </div>
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                Preferred Time:
                            </label>
                            {{AppointSuccessPreferredTime}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                Hospital:
                            </label>
                            {{vmuisettings.hospitalName}}
                        </div>
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                Speciality:
                            </label>
                            {{AppointSuccessDocSpeciality}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                City:
                            </label>
                            {{vmuisettings.cityName}}
                        </div>
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                Country:
                            </label>
                            {{vmuisettings.countryName}}
                        </div>
                    </div>
            </div>

            <div>
                <vm-title title-value="Patient Details" style-value="info alert-info"
                 control-id="title_PatientDetails"></vm-title>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                Patient Name:
                            </label>
                            {{PatientFirstName}}&nbsp;{{PatientMiddleName}}&nbsp{{PatientLastName}}
                        </div>
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                Email ID:
                            </label>
                            {{PatientEmail}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                Mobile No:
                            </label>
                            {{PatientMobileNo}}
                        </div>
                        <div class="col-md-6 form-group">
                            <label style="width:150px;">
                                UHID:
                            </label>
                           {{uhId}}
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>
                        At the hospital, please contact the Helpdesk for assistance to meet your doctor. You are requested to be present at least 15 minutes before your appointment to complete the necessary paperwork. Please bring your appointment Id or printout of the confirmation mail while coming for consultation.
                    </p>
                    <p>
                        Thank you for choosing our Hospital. Wishing you good health
                    </p>
                    <p>
                        Administrator
                    </p>
                    <p>
                        <strong>Disclaimer :</strong> <i><small>Hospital will make all efforts to honour the appointment. However, in the event of any unforeseen circumstances beyond our control, the appointment may be delayed or rescheduled. A new appointment date and/or time, according to the patient's convenience, and availability of slot with the same specialist, or a new specialist, will be proposed.</small></i>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                  <!--   <div class="col-md-6"> -->
                        <center>
                            <div class="form-group" >
                                <button type="button" class="btn btn btn-primary"   source-obj="requestReport"  download-url="/appointment/report/pdf"  vmformdownload><i class="fa fa-file-pdf-o"></i>&nbsp;Download Appointment Confirmation</button>
                            </div>
                        </center>
                    <!-- </div> -->
                  <!--   <div class="col-md-6">
                        <center>
                            <div class="form-group">
                                <button type="button" class="btn btn btn-primary" ng-click="PrintAppointmentReport()"><i class="fa fa-print"></i>&nbsp;Print Appointment Confirmation</button>
                            </div>
                        </center>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>