<script type="text/ng-template" id="forgotPasswrdModalContent.html">
<form name="ForgotPasswordForm" ng-submit="forgotPassword()" ng-controller="loginController">
 <div class="vm-modal-header" ><button type="button" class="close" ng-click="cancel()">&times;</button>
                <div class="vm-modal-header">
                    <h3 class="modal-title">Forgot Password?</h3>

                </div>
                <div class="modal-body">
                        <div class="form-group">
                          <label>Email</label>
                          <input type="email" name="email" placeholder="Email" required class="form-control"    ng-model="fgEmail" />
                        </div>
                </div>
                <div class="vm-modal-footer">
                    <button class="btn btn btn-success"  type="submit" >Send</button>
                </div></div>
				</form>
</script> 