<div class="row" id="pwd-container" ng-init="init()">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <section class="login-form" ng-controller="loginController">
            <form role="login" name="LoginForm" data-ng-submit="signIn()" novalidate ngformvalidate>
            <center class="vm-title"><span>Sign in to SeekRx</span></center>
            <div class="controls" style=" padding-bottom:1px;">
                <input type="text" style="border-radius: 6px 6px 0px 0px;" class="form-control input-lg show-only-alert" name="username" placeholder="Username" id="username"
                        ng-model="username" ng-required="true" data-controlname="Username" ngvalidate />
            </div>
            <div class="controls">
                <input type="password" style="border-radius: 0px 0px 6px 6px;" class="form-control input-lg show-only-alert" name="password" id="password" placeholder="Password"
                        ng-model="password" ng-required="true" data-controlname="Password" ngvalidate />
            </div>
            <button type="submit" class="btn btn-lg btn-primary pull-right signin-button"><i class="fa fa-long-arrow-right"></i></button>
            <div class="form-group" style="padding-top:20px;">
                <div class="row" style="white-space:nowrap;">
                      <center><a ng-click="open('sm')" style="color:#424242;" class="vm-cursor-pointer">Forgot Password?</a></center>
                    
                </div>
            </div>                
        </section>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row" ng-controller="bookanappointmentcontroller">
    <div class="form-group">
        <div class="row" style="white-space:nowrap;">
            <center><button type="button" ng-click="BookAnAppointment()" class="btn btn-lg btn-primary">Book An Appointment</button></center>
        </div>
    </div>
</div>
<div class="row center text-center">
    <!--<section data-ng-include=" 'app/views/login/advertisements.html' "></section>-->
     <section data-ng-include=" 'app/login/view/bookappointment.html' "></section> 
     <section data-ng-include="'app/login/view/forgotpassword.html'"></section>
</div>