<div class="page-err">   
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" style="font-size:150px;background-color:#F0AD4E;color:white;">
                    <div class="row">                        
                        <div class="text-center"><i class="fa fa-exclamation-triangle text-danger"></i>404</div>
                    </div>
                </div>
                <div class="panel-footer text-center" style="background-color:#EC9B27;">
                    <div class="row"><h4 style="color:white;">OOPS!!! PAGE NOT FOUND OR UNDER CONSTRUCTION.</h4></div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <center>
            <div class="row">
                <a href class="btn btn-lg btn-goback" back-button>
                    <span class="ti-home"></span>
                    <span class="space"></span>
                    Go Back
                </a>
            </div>
        </center>
    </div>
</div>