<!--Description: The Navbar page deals with creating Menu and Change Password Operation for the logged on User. 
* Author:     
* Created On:   
* Modified For: 
* Modified On:
* Modified By:
* *-->
<nav class="navbar-vHMS navbar-fixed-top" ng-controller="navBarController">
    <!--By Chaitra for slide menu Starts-->
    <div class="row">
    <!--  -->
    <div  ng-show="!loggedonuserVisible">
    <div class="col-md-6 col-sm-6 col-xs-6">
    <!-- Display Logo  -->
    <div class="navbar-header">
                <img src="app/img/Logo/logo.png" style="padding-top:5px;">
            </div> 
    </div>
     <div class="col-md-6 col-sm-6 col-xs-6">
    <div style="text-align: right; padding-right:25px;"><button type="button" class="btn btn-primary btn-sm" style="margin-top:10px;border-radius: 25px;"><a style="color:#FFFFFF;"  href="{{'#/patient/login'}}"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login</a></button></div>
    </div> 
    </div>
    <div  ng-if="loggedonuserVisible">
        <div class="col-md-1 col-sm-1 col-xs-1">
          <!--   <a href="#menu-toggle" id="menu-toggle" ng-show="loggedonuserVisible">
                <div class="menu_icon">
                </div>
            </a>-->
        </div> 
        <!--By Chaitra for slide menu Ends-->
        <div class="col-md-2 col-sm-2 col-xs-2">
            <div class="navbar-header">
                <img src="app/img/Logo/logo.png" style="padding-top:5px;">
            </div> 
        </div>
        
        <!-- create menu bar -->
        <div class="col-md-7 col-sm-8 col-xs-8">
            <div class="navbar-collapse collapse" id="navbar-main"  >
                <ul class="nav navbar-nav">
                    <li ng-click="setNavURL(navItem.Url)" ng-repeat="navItem in MenuJSON | filterMultiple:{PrivilegedRoleCodes : [LoggedOnUserRoleCode,null]} | orderBy: 'menuOrder' track by $index" 
                    	ng-class="navItem.Url == highlightMenu ? 'nav-active' : ''"  >
                    	
                       <a href = "{{navItem.Url}}" ng-if="navItem.SubMenus.length == 0"><i class = "{{navItem.icon}}"></i>&nbsp;{{navItem.Title}}</a>
                       
                        <a href="Javascript:void();" data-toggle="dropdown" ng-if="navItem.SubMenus.length > 0">
                        	<i class="{{navItem.icon}}"></i>&nbsp;{{navItem.Title}}&nbsp;<span class="caret text-info"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="download" ng-if="navItem.SubMenus.length > 0">
                                <li ng-click="setNavURL(navSubItem.Url)" ng-repeat="navSubItem in navItem.SubMenus | filterMultiple:{PrivilegedRoleCodes : [LoggedOnUserRoleCode,null]} | orderBy: 'SubmenuOrder' track by $index">
                                    <a href="{{navSubItem.Url}}"><i class="{{navSubItem.icon}}"></i>
                                       &nbsp;{{navSubItem.Title}}
                                    </a>  
                                </li>
                            </ul>
                    </li> 
                    <!-- <li ng-repeat="navItem in MenuJSON | filterMultiple:{PrivilegedRoleCodes : [LoggedOnUserRoleCode,null]} | orderBy: 'menuOrder' track by $index" 
                    	ng-class="navItem.Url  ==  highlightMenu ?  'nav-active' : ''" >
                    	
                       
                   </li> -->
            	</ul>
            </div>
        </div>
        
        
<!--         create Menu bar
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li ng-class="{'vHMS-nav-active':isActive('/dashboard')}">
                        <a href="#/dashboard">
                            <i class="fa fa-tachometer"></i>&nbsp;Dashboard
                        </a>
                    </li>

                    <li ng-if="!isAdminMenu">
                        <a href="Javascript:void();" data-toggle="dropdown"><i class="fa fa-search-plus"></i>&nbsp;Manage <span class="caret text-info"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li ng-class="{'active':isActive('/appointment/search')}"><a href="#/appointment/search"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Appointment</a></li>
                             <li ng-class="{'active':isActive('/appointment/search')}"><a href="#/appointment/search"><i class="fa fa-clock-o"></i>&nbsp;Search Appointment</a></li>
                        </ul>
                    </li>


                  <li ng-if="isAdminMenu">

                        <a href="Javascript:void();" data-toggle="dropdown"><i class="fa fa-cogs"></i>&nbsp;Branch Management <span class="caret text-info"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li ng-class="{'active':isActive('/userschedule')}"><a href="#/userschedule"><i class="fa fa-calendar"></i>&nbsp;User Schedule</a></li>
                            <li ng-class="{'active':isActive('/doctor')}"><a href="#/doctor"><i class="fa fa-user-md"></i>&nbsp;Doctor</a></li>
                            <li ng-class="{'active':isActive('/appointmentstatus')}"><a href="#/appointmentstatus"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;Appointment Status</a></li>
                            <li ng-class="{'active':isActive('/doctortype')}"><a href="#/doctortype"><i class="fa fa-user-md"></i>&nbsp;&nbsp;Doctor Type</a></li>
                             <li ng-class="{'active':isActive('/documenttype')}"><a href="#/documenttype"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Document Type</a></li>
                             <li ng-class="{'active':isActive('/gender')}"><a href="#/gender"><i class="fa fa-male"></i>&nbsp;&nbsp;Gender</a></li>
                             <li ng-class="{'active':isActive('/maritalstatus')}"><a href="#/maritalstatus"><i class="fa fa-heart"></i>&nbsp;Marital Status</a></li>
                             <li ng-class="{'active':isActive('/qualification')}"><a href="#/qualification"><i class="fa fa-graduation-cap"></i>&nbsp;Qualification</a></li>
                              <li ng-class="{'active':isActive('/role')}"><a href="#/role"><i class="fa fa-child"></i>&nbsp;&nbsp;Role</a></li>
                              <li ng-class="{'active':isActive('/speciality')}"><a href="#/speciality"><i class="fa fa-medkit"></i>&nbsp;&nbsp;Speciality</a></li>
                             <li ng-class="{'active':isActive('/usertype')}"><a href="#/usertype"><i class="fa fa-users "></i>&nbsp;&nbsp;User Type</a></li>
                             <li ng-class="{'active':isActive('/useridentity')}"><a href="#/useridentity"><i class="fa fa-user "></i>&nbsp;&nbsp;User Identity</a></li>
					</ul>

                  
                    
                    <li ng-if="isAdminMenu">
                        <a href="Javascript:void();" data-toggle="dropdown"><i class="fa fa-group"></i>&nbsp;Patient Management <span class="caret text-info"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li ng-class="{'active':isActive('#/register')}"><a href="#/register"><i class="fa fa-user"></i>&nbsp;Register</a></li>
                            
					</ul>
                    </li>  


                        <li>
                        <a href="Javascript:void();" data-toggle="dropdown"><i class="fa fa-lock"></i>&nbsp;Admin <span class="caret text-info"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li ng-class="{'active':isActive('/user')}"><a href="#/user"><i class="fa fa-user blue"></i>&nbsp;User</a></li>
                            <li ng-class="{'active':isActive('/company')}"><a href="#/company"><i class="fa fa-building blue"></i>&nbsp;Company</a></li>
                            <li ng-class="{'active':isActive('/doctortype')}"><a href="#/doctortype"><i class="fa fa-user-md blue"></i>&nbsp;Doctor Type</a></li>
                            <li ng-class="{'active':isActive('/speciality')}"><a href="#/speciality"><i class="fa fa-star-o blue"></i>&nbsp;Speciality</a></li>
                            <li ng-class="{'active':isActive('/usertype')}"><a href="#/usertype"><i class="fa fa-users blue"></i>&nbsp;User Type</a></li>
                            <li ng-class="{'active':isActive('/role')}"><a href="#/role"><i class="fa fa-tag blue"></i>&nbsp;Role</a></li>
                            <li ng-class="{'active':isActive('/appointmentstatus')}"><a href="#/appointmentstatus"><i class="fa fa-bookmark-o blue"></i>&nbsp;Appointment Status</a></li>
                            <li ng-class="{'active':isActive('/usersidentity')}"><a href="#/usersidentity"><i class="fa fa-certificate blue"></i>&nbsp;Users Identity</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div> -->
       
          <!--   <form class="navbar-form navbar-left" role="search">
                <div class="form-group right-inner-addon" style="padding-top:6px;">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control vm-nav-search" placeholder="Search">
                    <span class="fa fa-search" style="text-indent:-28px;"></span>
                </div>
            </form>  -->
            
            <div id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Javascript:void();">
                                             <span style="font-weight:100;">&nbsp;Welcome {{LoggedOnUserName}}&nbsp;</span><span ng-show="!profilepicpresent">
                                                 <i class="fa fa-user vm-nav-user-icon">
                                                 </i>
                                             </span><span ng-show="profilepicpresent">
                                                 <img class="profilepictheme" ng-src="{{userProfileImage}}" src="{{userProfileImage}}"
                                                      style="height: 15px; width: 15px;" />
                                             </span><span class="caret text-info"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="#/profile"><i class="fa fa-user"></i>&nbsp;My Profile</a></li>
                            <li><a ng-click="open('sm')"><i class="fa fa-cog"></i>&nbsp;Change Password</a></li>
                            <li><a ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
       
        </div>
    </div>
</nav>
<!-- Change Password Form Starts -->
<script type="text/ng-template" id="myModalContent.html">
 <form ng-controller="changePasswordController" name="changePasswordForm" data-ng-submit="ChangePassword(User);" novalidate ngformvalidate>
    <div class="vm-modal-header">
        <button type="button" class="close" ng-click="cancel()">
            &times;
        </button>
        <h3 class="modal-title">Change Password</h3>
    </div>
    <div class="modal-body">
       
            <div class="form-group">
                <label>Old Password</label>
                <input type="password" class="form-control btn-block"   data-controlname="Old Password" name="Old Password" 
					ng-model="User.currentPassword "id="OldPassword" placeholder="Old Password" ng-required="true" ngvalidate>
            </div>
            <br>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control btn-block password" ng-required="true" data-controlname="New Password" name="New Password"
				 ng-model="User.newPassword" id="NewPassword" placeholder="New Password" ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,15})$/"
					ngvalidate data-ng-minlength="8" maxlength="15">
            </div>
            <br>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control btn-block cmp-password" data-controlname="Confirm Password" name="ConfirmPassword"
				 ng-model="User.confirmPassword" id="ConfirmPassword" placeholder="Confirm Password" ng-required="true" match="User.newPassword"
					ngvalidate maxlength="15">
            </div>
            
    </div>
    <div class="vm-modal-footer">

        <button class="btn btn btn-success" type="submit">Change</button>
    </div>
</form>
</script>
<!-- Change Password Form ends -->

