﻿<div class="sidemenu" ng-controller="pushSlideNavBarController">
    <div id="sidebar-wrapper" class="cbp-spmenu cbp-spmenu-vertical" style="margin-top: 52px;">
        <h3 tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{LoggedOnUserName}}" ng-show="showIconMenu" class="slideleft-header-collapsed mini-navbar">
            <span ng-show="!profilepicpresent"><i class="fa fa-user vm-user-icon">
            </i></span><span ng-show="profilepicpresent">
                <img class="profilepictheme" ng-src="{{userProfileImage}}" src="{{userProfileImage}}"
                    style="height: 20px; width: 20px;" /></span>
        </h3>
        <div tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{navIcon.Title}}" class="vm-pushslidemenu vm-parentnav mini-navbar" ng-click="setNavURL(navIcon.Url,'parentlevel',$event)" ng-class="navIcon.Url  == navbarurlfromWindow ?  class='active' : class=''"
            ng-data-url="{{navIcon.Url}}" ng-show="showIconMenu" ng-if="navIcon.SubMenus.length == 0" ng-repeat="navIcon in MenuJSON track by $index | orderBy: 'menuOrder'">
            <a href="#{{navIcon.Url}}"><i class="{{navIcon.icon}}"></i></a>
        </div>
        <div tooltip-append-to-body="true" tooltip-placement="right" tooltip="{{navIcon.Title}}" class="vm-pushslidemenu vm-childnav mini-navbar second-level-navbar" ng-mouseover="over=true" ng-mouseleave="over=false" ng-show="showIconMenu" ng-class="navIcon.Url  == navbarurlfromWindow ?  class='active' : class=''"
             ng-data-url="{{navIcon.Url}}" ng-if="navIcon.SubMenus.length > 0"
             ng-repeat="navIcon in MenuJSON track by $index | orderBy: 'menuOrder'">
            <a href="Javascript:void();"><i class="{{navIcon.icon}}"></i></a>
            <ul ng-class="{in: over}" class="nav-second-level collapse">
                <li ng-click="setNavURL(navSubIcon.Url,'childlevel',$event)" ng-class="navSubIcon.Url  == navbarsuburlfromWindow ?  class='active' : class=''"
                    ng-repeat="navSubIcon in navIcon.SubMenus" style="padding: 10px;">
                    <a href="#{{navSubIcon.Url}}">
                        <i class="{{navSubIcon.icon}}"></i>&nbsp;{{navSubIcon.Title}}
                    </a>
                </li>
            </ul>
        </div>
        <h3 ng-show="!showIconMenu"  style="white-space:nowrap;" class="slideleft-header max-navbar">
            <span ng-show="!profilepicpresent"><i class="fa fa-user fa-lg user-icon custom-user-icon">
            </i></span><span ng-show="profilepicpresent">
                <img class="profilepictheme" ng-src="{{userProfileImage}}" src="{{userProfileImage}}"
                    style="height: 50px; width: 50px;" /></span>&nbsp;&nbsp;&nbsp;{{LoggedOnUserName}}
        </h3>
        <div class="max-navbar"  style="white-space:nowrap;" ng-click="setNavURL(navItem.Url,'parentlevel',$event)" ng-class="navItem.Url  == navbarurlfromWindow ?  class='active' : class=''"
            ng-show="!showIconMenu" ng-if="navItem.SubMenus.length == 0" ng-repeat="navItem in MenuJSON track by $index | orderBy: 'menuOrder'">
            <a href="#{{navItem.Url}}"><i class="{{navItem.icon}}"></i>&nbsp;{{navItem.Title}}</a></div>
        <div  style="white-space:nowrap;" ng-show="!showIconMenu" ng-class="navItem.Url  == navbarurlfromWindow ?  class='active' : class=''"
            ng-data-url="{{navItem.Url}}" ng-if="navItem.SubMenus.length > 0" ng-repeat="navItem in MenuJSON track by $index | orderBy: 'menuOrder'"
            class="dropdown max-navbar">
            <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="dropdownMenu{{navItem.Id}}">
                <i class="{{navItem.icon}}"></i>&nbsp;{{navItem.Title}}<b class="caret"></b>
            </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu{{navItem.Id}}">
                <li ng-click="setNavURL(navSubItem.Url,'childlevel',$event)" ng-class="navSubItem.Url  == navbarsuburlfromWindow ?  class='active' : class=''"
                    ng-repeat="navSubItem in navItem.SubMenus track by $index | orderBy: 'menuOrder'"
                    role="presentation"><a role="menuitem" tabindex="-1" href="#{{navSubItem.Url}}"><i
                        class="{{navSubItem.icon}}"></i>&nbsp;{{navSubItem.Title}}</a></li>
            </ul>
        </div>
        <!--<div><a ng-click="openAboutUs('sm')"><i class="fa fa-info-circle"></i>&nbsp;About Us</a></div>
                                <div><a href="#/login"><i class="fa fa-power-off text-danger"></i>&nbsp;Sign Out</a></div>-->        
    </div>
</div>
