<!--Description: The Branch details deals with creating a table for branch code name & status. 
* Author: Sabariraja M   
* Created On: 03/09/2015  
* Modified For: 
* Modified On:
* Modified By:
* *-->
<div>
    <div ng-if="BranchViewClicked">
 
        <div class="col-md-12" id="evtdetails">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr>
                                <td>
                                    Code
                                </td>
                                <td>
                                    <i class="fa fa-key"></i>&nbsp;{{code}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    <i class="fa fa-reorder"></i>&nbsp;{{name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Address
                                </td>
                                <td>
                                    <i class="fa fa-map-marker"></i>&nbsp;{{addressDetails}}
                                </td>
                            </tr>
                                <tr>
                                <td>
                                    Status
                                </td>
                                <td>
                                    <span ng-if="status === 'Enabled'"><i class="fa fa-thumbs-up green"></i></span>
                                    <span ng-if="status === 'Disabled'"><i class="fa fa-thumbs-down red"></i></span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
