<!--Description: The Branch page deals with creating Branch and to edit the branch. 
* Author: Sabariraja M   
* Created On: 03/09/2015  
* Modified For: 
* Modified On:
* Modified By:
* *-->
<div ng-controller="branchcontroller">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-5">
                <vm-title title-value="Branch" style-value="info alert-info" expand-collapse="minus"
                          control-id="title_Branch"></vm-title>
                <div class="well">
                    <lookup-table templateurl="app/common/view/directiveTemplates/lookuptable/LookupTable.html" sourceurl="/branch" datasource="ViewModels" control-id="branch"></lookup-table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                 <section data-ng-include=" 'app/branch/view/branchdetails.html' "></section> 
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="openBranchModal('md', null, 'add')" id="btnBranch_Add">
                    <i class="fa fa-plus">
                    </i>&nbsp;Create
                </a>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="BranchModalContent.html">
        <form name="BranchForm" ng-controller="branchcontroller" data-ng-submit="SaveBranch(BranchDetails)" novalidate ngformvalidate>
            <div class="vm-modal-header" id="div_branchmodal">
                <button type="button" class="close" ng-click="cancel()">
                    &times;
                </button>
                <h3 class="modal-title">{{branchModelTitle}}</h3>
            </div>


            <div class="modal-body">
                <input type="hidden" class="col-md-12" id="txtHiddenBranchId" name="txtHiddenBranchId" placeholder="" ng-model="BranchDetails.Id">
                <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Name
                                </label>
                                <input type="text" class="form-control" id="txtName_Branch" placeholder="Name"
                                       ng-model="BranchDetails.BranchName" name="Name" data-controlname="Name" ng-required="true"
                                       ngvalidate data-ng-minlength="1" maxlength="100">
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="divIsActive">
                            <div class="form-group">
                                <label>Status</label>
                                <div><toggle-switch model="BranchDetails.switchStatus"><toggle-switch></div>
                        </div>
                    </div>
                </div>
				
            		<vm-title title-value="Communication Address" style-value="info alert-info" expand-collapse="minus" control-id="title_CommuncationAddress"></vm-title>
            		<address control-id="CommunicationAddress"></address>
        		
            
            </div>
            <div class="vm-modal-footer">
                <button type="submit" class="btn btn-primary" formname="BranchForm" click-once="Saving...">Save</button>
            </div>
        </form>
    </script>
</div>
