
    <div ng-controller="bookAppointmentController">
        <div class="vm-modal-header">
            <button type="button" class="close" ng-click="cancel()">
                &times;
            </button>
            <h3 class="modal-title">Book An Appointment</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                    <div class="col-md-6 form-group">
                        <label>
                            Please select the speciality
                        </label>
                        <vm-ui-select2 master-name="Speciality" control-id="Speciality_login" place-holder="Speciality" ng-select-model="Login_AppointmentDetails.Speciality"
                                       source-url="/data/Speciality.json" source-obj="ViewModels" required-field="true" ngvalidate></vm-ui-select2>
                    </div>
            </div>

            <div class="row" ng-if="showavailabledoctordetails">
                <div class="col-md-12">
                    <vm-title title-value="Doctor(s)" style-value="info alert-info" expand-collapse="minus" control-id="title_Doctor"></vm-title>
                    <div>
                        <div class="col-md-6" ng-repeat="data in UserDetails">
                            <div class="col-md-12" ng-click="doctorsschedule(data)" style="cursor:pointer;">
                                <div class="col-md-4">
									 <img src="{{data.profilePictureUrl}}" alt="image" style="border-radius:35px;">
                                </div>
                                <div class="col-md-8">
                                    <strong>{{data.designation}}&nbsp;{{data.name}}</strong>
                                    <small>{{data.experience}} years experience</small>
                                    <div>{{data.description}}</div>
                                    <div>{{data.startTime}} - {{data.endTime}}</div>
                                </div>
                            </div>
                            <div>&nbsp;</div>
                        </div>
                    </div>
                </div>
				
				<div class="col-md-6"   > 
						<div class="col-md-12" ng-if=" UserDetails.length==0" >
								<strong>No doctors available...</strong>
						</div>

						<div class="col-md-12" ng-if="UserDetails==null  " >
								<strong>Please select the speciality ...</strong>
						</div>
            	</div>
            </div>
        
        <div class="vm-modal-footer">

        </div>
    </div>
	</div>
 <script type="text/ng-template" id="BookAnAppointmentDoctorModalContent.html"> 
    <div ng-controller="bookAppointmentController">
        <div class="vm-modal-header">
            <button type="button" class="close" ng-click="cancel()">
                &times;
            </button>
            <h3 class="modal-title">Add Appointment</h3>
        </div>
        <div class="modal-body">
            <form name="BookAppointmentDtails_Login" data-ng-submit="BookAppointment_Login(items,DoctorDetails)" novalidate ngformvalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
							<div class="col-md-5 form-group">
                            <label>
                                Doctor Name:
                            </label>
							</div>
								<div class="col-md-7 form-group">
                            {{items.designation}}&nbsp;{{items.name}}
                        </div>
						</div>
                        <div class="col-md-6 form-group">
							<div class="col-md-7 form-group">
                            <label>
                                Speciality:
                            </label>
							</div>
							<div class="col-md-5 form-group">
                            {{items.speciality}}
						</div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
							<div class="col-md-5 form-group">
                            <label>
                                Hospital:
                            </label>
							</div>
						<div class="col-md-7 form-group">
                            Apollo Hospital
						</div>
                        </div>
                      <div class="col-md-6 form-group">
						<div class="col-md-7 form-group">
                            <label>
                                Location:
                            </label></div>
							<div class="col-md-5 form-group">
                            {{vmuisettings.cityName}},{{vmuisettings.countryName}}
                        </div>
						</div>
                    </div>
                    </div>
                 	<div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
						<div class="col-md-5 form-group">
                            <label>
                               Appointment Date:
                            </label></div>
							<div class="col-md-7 form-group">
                            <vm-date-picker control-id="txtAppointmentDate_doctor" ng-class="date-required" control-name="Appointment Date" field-required="true" minimumdate="{{items.minappointmentDate}}"
                                            ng-date-selected="items.AppointmentDate"></vm-date-picker>
                        </div>
						</div>
                        <div class="col-md-6 form-group">
						<div class="col-md-7 form-group">
                            <label>
                               Preferred Time(24 Hours): 
                            </label></div>
							<div class="col-md-5 form-group">
                             <ui-select class="btn-block vm-cursor-pointer vmdropdown" id="preferredTime" name="preferredTime" ng-required="true"
                                       data-controlname="Preferred Time" ngvalidate ng-model="items.SelectedPreferredTime" theme="select2">
                                <ui-select-match placeholder="Time" allow-clear="true">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="item in items.Timings">
                                    {{item}}
                                </ui-select-choices>
                            </ui-select>
                            </div>    

						     </div>               
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <center>
                            <div class="form-group">
                                <button type="submit" class="btn btn btn-primary">Book Appointment</button>
                            </div>
                        </center>
                    </div>
                    </div>
		</form>
        </div>
        <div class="vm-modal-footer">

        </div>
    </div>

</script>
<script type="text/ng-template" id="BookAnAppointmentPatientDetailsModalContent.html">
    <div ng-controller="bookAppointmentController">
        <form name="BookAppointmentPatientDetails_Login" data-ng-submit="BookAppointmentPatientDetailsSave_Login(AppointmentDetailsPatient)" novalidate ngformvalidate>
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">
                    &times;
                </button>
                <h3 class="modal-title">Add Patient Details</h3>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 form-group">
                            <label>
                                First Name
                            </label>
                            <input type="text" ng-disabled="disableControls" id="txt_patientfirstnameLogin" placeholder="First Name" ng-model="AppointmentDetailsPatient.PatientFirstName" name="Patientfisrtname" data-controlname="First Name" class="form-control" data-ng-minlength="3"  maxlength="50" ng-required="true" ngvalidate />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>
                                Middle Name
                            </label>
                            <input type="text" ng-disabled="disableControls" id="txt_patientmiddlenameLogin" placeholder="Middle Name" ng-model="AppointmentDetailsPatient.PatientMiddleName" name="Patientmiddlename" data-controlname="Middle Name" class="form-control"  maxlength="50" ng-required="false" ngvalidate />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>
                                Last Name
                            </label>
                            <input type="text" ng-disabled="disableControls" id="txt_patientlastnameLogin" placeholder="Last Name" ng-model="AppointmentDetailsPatient.PatientLastName" name="Patientlastname" data-controlname="Last Name" class="form-control" data-ng-minlength="1" maxlength="50" ng-required="true" ngvalidate />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-8 form-group">
                            <label>
                                Email ID
                            </label>
                            <input type="email" ng-disabled="disableControls" id="txt_patientemailLogin" placeholder="Email ID" ng-model="AppointmentDetailsPatient.PatientEmail" name="Patientemail" data-controlname="Patient Email" class="form-control" ng-required="true" ngvalidate />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>
                                Mobile No.
                            </label>
                            <input type="text" ng-disabled="disableControls" id="txt_patientmobilenoLogin" placeholder="Mobile No." ng-model="AppointmentDetailsPatient.PatientMobileNo" name="Patientmobile" data-controlname="Mobile No" data-ng-minlength="10"  maxlength="16" ng-pattern="/^[ 0-9()+-]*$/" class="form-control "  ng-required="true" ngvalidate />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 form-group">
                          <label>Gender</label>
                        <vm-ui-select2 is-disabled="{{disableControlsDropdown}}"  master-name="Gender" control-id="Gender" place-holder="Gender" ng-select-model="AppointmentDetailsPatient.Gender"
                                       source-url="/data/Gender.json" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                            </div>
                         &nbsp;&nbsp;
                        <div class="col-md-4 form-group">
                            <label>Date Of Birth </label>
                            <vm-date-picker datebuttondisabled="{{disableControls}}"  control-id="txtDOB_User_appointment" ng-class="date-required" control-name="Date of Birth" field-required="true" maximumdate="{{maxappntdobDate}}"
                                            ng-date-selected="AppointmentDetailsPatient.DateofBirth"></vm-date-picker>
                        </div>
                        <div class="col-md-2 form-group" ng-if="showage">
                            <label>Age</label>
                            <div>{{patientage}} years</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--<div class="form-group">
                        <input type="checkbox" id="txt_patientregisterLogin" ng-model="AppointmentDetailsPatient.PatientRegister" ng-click="patientRegistered(AppointmentDetailsPatient)" />Have you Registered here before?
                    </div>-->
                    <div class="col-md-6 form-group" ng-if="userlogin">
                            <label>
                                Have you Registered here before?
                            </label>
                            <div>
                                <toggle-switch model="AppointmentDetailsPatient.switchStatus" control-id="txt_Register" on-label="Yes" off-label="No"  on-change="ClearUHID()"><toggle-switch>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="AppointmentDetailsPatient.switchStatus">
                            <div class="form-group">
                                <label>
                                    UHID
                                </label>
                                <input type="text" id="txt_patientUHIDLogin" placeholder="UHID" ng-model="AppointmentDetailsPatient.PatientUHID" name="PatientUHID" data-controlname="Patient UHID" class="form-control" ng-required="true" ngvalidate />
                            </div>
                        </div> 
                    </div>

                </div>
            </div>
            <div class="vm-modal-footer">
                <center>
                    <div class="form-group">
                        <button type="submit" class="btn btn btn-primary">Confirm Appointment</button>
                    </div>
                </center>
            </div>
        </form>
    </div>
</script>
