@(ReceiverName: String, email: String, requestCode: String,workflowName: String, SenderName: String,RequestorName: String,Url : String)
<div>
Dear  @{ReceiverName} ,
<br/><br/>
The @{workflowName} Request with Request.# -@{requestCode} has been approved by @{SenderName}.
@{RequestorName} has requested for your Approval to proceed.
<br/><br/>
Click on the below Link to View/Update/Approve/Reject/Void the details of the Request:
<p>@{Url}</p>

<p>Regards,</p>
<p>Administator</p>
<br/>
<br/>
[***This is an system generated email from Workflow Application, please do not reply to this email id.***]
</div>