@(name: String, email: String, password: String)
<div>
Dear  @{name} ,
<br/><br/>
You have requested that we email your password to [@{email}]
<br/><br/>
Your Password is [@{password}]
<br/><br/>
Thanks & regards,<br/>
Application Administrator
<br/>
<br/>
[***This is an system generated email, please do not reply to this email id.***]
</div>