@(ReceiverName: String,email: String, WorkflowDesc: String, RequestCode: String, SignOffStatus: String, Url: String)
<div>
Hello 
<br/><br/>
@{ReceiverName},
<br/><br/>
The "@{WorkflowDesc}" Request with Request.# - "@{RequestCode}" is pending for your @{SignOffStatus}.
<br/><br/>
Click on the below Link to View/Update/Approve/Reject/Void the details of the Request:
<br/><br/>
<p>@{Url}</p>

<p>Regards,</p>
<p>Administator</p>
<br/><br/>
[***This is an system generated email from Workflow Application, please do not reply to this email id.***]
<br/><br/>