@(ReceiverName: String, email: String, requestCode: String,workflowName: String, SenderName: String,Url : String)
<div>
Dear  @{ReceiverName} ,
<br/><br/>
@{SenderName} has responded to the your Query for the Request with Request.# @{requestCode}.
<br/><br/>
Click on the below Link to View/Update/Approve/Reject/Void the details of the Request:
<p>@{Url}</p>

<p>Regards,</p>
<p>Administator</p>
<br/>
<br/>
[***This is an system generated email from Workflow Application, please do not reply to this email id.***]
</div>