@(name: String, email: String, code: String , password: String)
<div>
Dear  @{name} ,
<br/><br/>
You have Registered in to the hospital successfully using email  [@{email}]
<br/><br/>
Your Unique Identification code is [@{code}]
<br/><br/>
Thanks & regards,<br/>
Application Administrator
<br/>
<br/>
[***This is an system generated email, please do not reply to this email id.***]
</div>