@(ReceiverName: String, email: String, requestCode: String,workflowName: String, SenderName: String,Url : String)
<div>
Dear  @{ReceiverName} ,
<br/><br/>
The @{workflowName}  Request with Request.# -@{requestCode}  was submitted to the service desk,this Workflow task has been closed by @{SenderName} .
<br/><br/>
Click on the below Link to View/Update/Approve/Reject/Void the details of the Request:
<p>@{Url}</p>

<p>Regards,</p>
<p>Administator</p>
<br/>
<br/>
[***This is an system generated email from Workflow Application, please do not reply to this email id.***]
</div>