<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<table align='center'>
		<tr>
			<td
				style='background-image: url(https://s3.amazonaws.com/vmdocstorage/JS_Uploads/Template1.jpg); background-repeat: repeat; width: 1200px; height: 1500px;'>
				<p>
					<br /> <br /> <font face='Comic Sans MS' color='red' size='5'>
						<b>Dear,</b>
					</font> <br /> <br /> <font face='Comic Sans MS' color='red' size='5'><b>{{name}}.</b></font><br />
					<br /> <font face='Comic Sans MS' color='blue' size='3'><b>
							Wishing you a day of celebration<br /> and a year of joy! <br />
							<br /> <font face='Comic Sans MS' color='green' size='4'>Happy
								Birthday</font>
					</b></font>
				</p>
			</td>
		</tr>
	</table>
</body>
</html>