<!--Description: The Floor page deals with creating floor and to edit the floor. 
* Author: MaheshDe   
* Created On: 01/09/2015  
* Modified For: 
* Modified On:
* Modified By:
* *-->
<div ng-controller="floorcontroller">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-5">
                <vm-title title-value="Floor" style-value="info alert-info" expand-collapse="minus"
                          control-id="title_floor"></vm-title>
                <div class="well">
                    <lookup-table templateurl="app/floor/view/floortable.html"
                                  sourceurl="/floor" datasource="ViewModels" control-id="floor"></lookup-table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                 <section data-ng-include=" 'app/floor/view/floordetails.html' "></section> 
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="openFloorModal('sm', null, 'add')" id="btnSpeciality_Add">
                    <i class="fa fa-plus">
                    </i>&nbsp;Create
                </a>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="FloorModalContent.html">
        <form name="FloorForm" ng-controller="floorcontroller" data-ng-submit="SaveFloor(floorDetails)" novalidate ngformvalidate>
            <div class="vm-modal-header" id="div_floormodal">
                <button type="button" class="close" ng-click="cancel()">
                    &times;
                </button>
                <h3 class="modal-title">{{floorModelTitle}}</h3>
            </div>


            <div class="modal-body">
                <input type="hidden" class="col-md-12" id="txtHiddenSpecialityId" name="txtHiddenSpecialityId" placeholder="" ng-model="floorDetails.Id">
                <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Name
                                </label>
                                <input type="text" class="form-control" id="txtName_Floor" placeholder="Name"
                                       ng-model="floorDetails.FloorName" name="Name" data-controlname="Name" ng-required="true"
                                       ngvalidate data-ng-minlength="1" maxlength="100">
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="divIsActive">
                            <div class="form-group">
                                <label>Status</label>
                                <div><toggle-switch model="floorDetails.switchStatus"><toggle-switch></div>
                        </div>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <label>
                                Building
                            </label>
                            <vm-ui-select2 master-name="Building" control-id="Building" place-holder="Building"
                                           ng-select-model="floorDetails.BuildingCode" source-url="/building"
                                           source-obj="ViewModels" required-field="true" ngvalidate></vm-ui-select2>
                    </div>
                </div>
            </div>
            <div class="vm-modal-footer">
                <button type="submit" class="btn btn-primary" formname="FloorForm" click-once="Saving...">Save</button>
            </div>
        </form>
    </script>
</div>
