<!--Description: The Master Form allows User to create/edit/search Master data. 
* Author: Jasmitha    
* Created On: 10/08/2015  
* Modified For: 
* Modified On:
* Modified By:
* *-->
<div ng-controller="mastercontroller">
<div class="row">&nbsp;</div>
<!--  <ol class="ab-nav breadcrumb">
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
      <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
      <span ng-if="$last" ng-bind="breadcrumb.label"></span>
    </li>
  </ol>-->

    <div class="row">
            <div class="col-md-10">
            <div class="col-md-5">
                <vm-title title-value="{{TitleName}}" style-value="info alert-info" expand-collapse="minus" control-id="title_Master"></vm-title>
                <div class="well">
                    <lookup-table templateurl="app/common/view/directiveTemplates/lookuptable/LookupTable.html" sourceurl={{SourceURL}} datasource="ViewModels" control-id="{{ViewName}}"></lookup-table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    &nbsp;</div>
                <div class="row">
                    &nbsp;</div>
                <div class="row">
                    &nbsp;</div>
                    <!--Details view place holder (Start)-->
                <section data-ng-include=" 'app/genericmaster/view/masterdetails.html' "></section>
            </div>
        </div>

        <div class="col-md-2">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="openMasterModal('sm',null,'add')" id="{{ 'btn' + ViewName + '_Add' }}">
                    <i class="fa fa-plus"></i>&nbsp;Create</a></div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--<div class="col-md-4">
            <vm-title title-value="{{TitleName}}" style-value="info alert-info" expand-collapse="minus" control-id="title_Master"></vm-title>
            <div class="well">
                <lookup-table templateurl="app/common/view/directiveTemplates/lookuptable/LookupTable.html" sourceurl={{SourceURL}} datasource="ViewModel" control-id="{{ViewName}}"></lookup-table>
            </div>
            </div>-->
            <!--Details view place holder (Start)-->
<!--            <div class="col-md-5">
                <section data-ng-include=" 'app/genericmaster/view/masterdetails.html' "></section>
            </div>-->
            <!-- Master form for create/edit starts -->
            <script type="text/ng-template" id="myMasterModalContent.html">
            <form name="MasterForm" ng-controller="mastercontroller" data-ng-submit="SaveData(MasterDetails)" novalidate ngformvalidate>
            <div class="vm-modal-header" id="{{'div_'+ViewName+'modal'}}">
             <button type="button" class="close" ng-click="cancel()">
                    &times;</button>
                <h3 class="modal-title">{{MasterModelTitle}}</h3>
            </div>
            <div class="modal-body">
                    <input type="hidden" class="col-md-12" id="{{'txtHidden'+ViewName+'Id'}}" name="{{'txtHidden'+ViewName+'Id'}}" placeholder="" ng-model="MasterDetails.Id">
                    <div class="row form-group">
                        <div class="col-md-12">
                        <label>Name</label>
                        <input type="text" class="form-control" id="{{'txtTitle_'+ViewName}}" placeholder="Name" ng-model="MasterDetails.MasterName" name="Name" data-controlname="Name" ng-required="true"
                        ngvalidate data-ng-minlength="3" maxlength="50">
                        </div>
                    </div>  
                    
                    <div class="row form-group"  id="divIsActive">
                        <div class="col-md-12">
                        <label>Status</label>
                        <div><toggle-switch model="MasterDetails.switchStatus"><toggle-switch></div>
                        </div>
                    </div> 
            </div>
            <div class="vm-modal-footer">
                <button type="submit" class="btn btn-primary" formname="MasterForm" click-once="Saving...">Save</button>
            </div>
            </form>
        </script>
        <!-- Master form for create/edit ends -->
        
        </div>
    </div>
    </div>


