﻿<div>
    <div ng-if="ViewClicked">
        <div>
            <div class="col-md-12" id="evtdetails">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                <tr>
                                    <td>
                                        Code
                                    </td>
                                    <td>
                                        <i class="fa fa-key"></i>&nbsp;{{details.code}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        <i class="fa fa-reorder"></i>&nbsp;{{details.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Status
                                    </td>
                                    <td>
                                        <i ng-class="details.status  == true ?  class='fa fa-thumbs-up green' : class='fa fa-thumbs-down red'"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
