<div ng-controller="faqController">
    <div class="row">
        &nbsp;
    </div>
    <vm-title control-id="FAQ" title-value="FAQ" style-value="info alert-info"></vm-title>
    <div class="row" ng-if=" LoggedOnUserRole == vmuisettings.AdminRoleCode">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="btnCreateState" class="btn btn-primary" ng-click="openFaqModel(null)">
                    <i class="fa fa-plus"></i>&nbsp;Add
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-12">
            <accordion>
                <accordion-group ng-repeat="faq in faqs">
                        <accordion-heading>
                            <span ng-click="openDeleteModel(faq)" is-disabled="true" ng-if="LoggedOnUserRole == vmuisettings.AdminRoleCode" tooltip-append-to-body="true" tooltip="Delete"><i class="fa fa-trash-o red"></i></span>
                            <span ng-click="openFaqModel(faq)" is-disabled="true" ng-if="LoggedOnUserRole == vmuisettings.AdminRoleCode" tooltip-append-to-body="true" tooltip="Edit"><i class="fa fa-edit blue"></i></span>
                            <span class="">{{faq.question}}</span>
                        </accordion-heading>
                    <div class="panel-body">
                        <p ng-bind-html="faq.answer"></p>
                    </div>
                </accordion-group>
            </accordion>

        </div>
    </div>
</div>
<div class="row" style="height:130px;">&nbsp;</div>
<script type="text/ng-template" id="myFaqModalContent.html">
    <form name="Faqform" ng-controller="faqController" data-ng-submit="SaveFaq(FaqDetails)" novalidate ngformvalidate>
        <div class="vm-modal-header" id="div_Faq_modal">
            <button type="button" class="close" ng-click="cancel()">
                &times;
            </button>
            <h3 class="modal-title">{{FaqModelTitle}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control btn-block" id="txtTitleName" placeholder="Title"
                               ng-model="FaqDetails.scopeQuestion" name="txtTitleName" data-controlname="Title" ng-required="true"
                               ngvalidate maxlength="100">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txtDescription">Description</label>
                        <textarea id="txtDescription" class="form-control btn-block" rows="8" ng-model="FaqDetails.scopeAnswer"></textarea>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Status</label>
                        <div><toggle-switch model="FaqDetails.switchStatus"></toggle-switch></div>
                    </div>
                </div>
            </div>-->
            </div>
        <div class="vm-modal-footer">
            <button type="submit" class="btn btn-primary" formname="Faqform" click-once="Saving...">Save</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="DeleteFaq.html">
    <form name="Deleteform" ng-controller="faqController" data-ng-submit="DeleteFaq(DeleteFaq)" novalidate ngformvalidate>
        <div class="vm-modal-header" id="div_Faq_modal">
            <button type="button" class="close" ng-click="cancel()">
                &times;
            </button>
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <p>Are you sure you want to delete?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="vm-modal-footer">
            <button type="submit" class="btn btn-success" formname="Deleteform" click-once="Yes...">Yes</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">No</button>
        </div>
    </form>
</script>