<div class="ng-camera">
    <a id="ng-camera-allowcamera" ng-click="initiateWebCam()">
        <img src="/app/img/WebCameraImage.png" />
    </a>
</div>
<!--<div ng-show="false" id="ng-camera-feed"></div>-->

<script type="text/ng-template" id="webcamform.html">
    <form name="WebCamForm" ng-controller="webcameracontroller">
        <div class="modal-header" id="divWebCamHeader">
            <button type="button" class="close" ng-click="cancel()">
                &times;
            </button>
            <h3 class="modal-title">Take Photo</h3>
        </div>
        <div class="modal-body">
            <div class="ng-camera">
                <div class="row">
                    <center><h5 ng-show="camera_Live">Activate Camera</h5></center>
                    <div class="col-md-6"> 
                        <div style="text-align: -webkit-center;">
                            <div class="ng-camera-countdown" ng-if="countdown" ng-show="activeCountdown">
                                <p class="tick">{{countdownText}}</p>
                            </div>
                            <div class="ng-camera-stack">
                                <img class="ng-camera-overlay" ng-if="overlayUrl" ng-show="cameraLive" ng-src="{{overlayUrl}}" alt="overlay">
                                <div id="ng-camera-feed"></div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <button id="ng-camera-takephoto" ng-click="getSnapshot()"><i class="fa fa-video-camera"></i>&nbsp;Take Photo</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="text-align: -webkit-center;">
                            <img ng-if="!picture" src="/app/img/user.jpg" style="height:150px; width:150px;" />
                            <img ng-if="picture" ng-src="{{sourceData}}" alt="webcam picture" style="width:150px; height:150px;">
                            <div class="row">&nbsp;</div>
                            <button id="ng-camera-confirm" ng-click="confirmSnapshot(sourceData)"><i class="fa fa-video-camera"></i>&nbsp;Confirm Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>