<div ng-controller="webcameracontroller">
    <div class="row">
        <div class="col-md-8">
            <div class="thumbnail" style="display: inline-block;">
                <div id="divprofilepic">
                    <p style="text-align: center;">
                        <img ng-src="{{userImage}}" src="{{userImage}}" style="height: 160px; width: 150px;" />
                    </p>
                </div>
                <div class="caption">
                    <p>
                        <span class="btn btn-success fileinput-button fileupload-employee"><i class="fa fa-upload fa-3">
                        </i>
                            <input type="file" ng-model="files" id="fileupload_profilepic" onload="onLoad" name="fileupload_profilepic"
                                base-sixty-four-input accept="image/*">
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 vm-web-camera">
            <ng-web-camera capture-message="Cheeeese!" countdown="2" output-height="160" output-width="213"
                viewer-height="320" viewer-width="426" image-format="jpeg" jpeg-quality="100"
                action-message="Allow Camera" snapshot="picture" flash-fallback-url="app/img/webcam.swf"
                shutter-url="app/img/shutter.mp3" crop-height="75" crop-width="75">
    </ng-web-camera>
        </div>
    </div>
</div>
