<form name="DocumentForm" novalidate ngformvalidate>
    <div class="vm-modal-header" id="div_documentUploadmodal">
        <button type="button" class="close" ng-click="cancel()">
            &times;
        </button>
        <h3 class="modal-title">Add</h3>
    </div>
    <div ng-controller="documentcontroller">
        <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Document Type</label>
                            <vm-ui-select2 master-name="Document Type" control-id="DocumentType" place-holder="Document Type" ng-select-model="DocumentType"
                                       source-url="/documenttype" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-8">
                        <input class="form-control" id="txtDocumentName" placeholder="" ng-model="currentfileAdded_name" name="Document" ng-required="true"   data-controlname="Document" novalidate />
                    </div>
                    <!-- <span class="btn btn-danger fileinput-button"><i class="icon-upload icon-white"></i>
                         <span>Browse</span>
                    <input type="file" nv-file-select uploader="uploader"/><br/>
                      </span>-->
                    <button type="button" class="btn btn-primary" ng-file-select="" ng-accept="'image/*'" ng-model-rejected="rejFiles" ng-init="formate = 'image'" ng-model="files" ng-multiple="false">Browse</button>
                </div>
        </div>
        <div class="vm-modal-footer">
            <button class="btn btn-primary" ng-click="addTodocumentGrid(currentfileAdded,DocumentType);cancel(DocumentForm.$valid);AddNotyMessage(DocumentForm.$valid)">Upload</button>
        </div>
    </div>

    </form>
