<table  ng-controller="documentcontroller" id="tbl_document" class="table table-striped  ng-hide">
        <thead class="ng-hide">
        <tr>
           <!--  <th class="vm-text-center" width="1%"></th>
            <th class="vm-text-center" width="1%"></th> -->
            <th class="vm-text-center" width="75%"></th>
            <th class="vm-text-center" width="25%"></th>
          <!--   <th class="vm-text-center"></th>
            <th class="vm-text-center"></th>
           <th class="vm-text-center"></th> -->
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in Allfiles" ng-data-value="{{file}}">
                <td width="1%">
                    <div data-ng-if="file.id === 0">
                        <a id="{{file.name}}" tooltip="Cancel" ng-show="ViewDocumentActionButtons" style="text-decoration: none; cursor: pointer;" data-ng-click="cancelDocument($event,file)">
                            <i class="glyphicon glyphicon-remove-sign gray"></i>
                        </a>
                    </div>
                    <div data-ng-if="file.id !== 0">
                        <a id="{{file.id}}" tooltip="Delete" ng-show="ViewDocumentActionButtons" style="text-decoration: none; cursor: pointer;" data-ng-click="delete($event,file)">
                            <i class="glyphicon glyphicon-remove red"></i>
                        </a>
                       
                    </div>
                </td>
             <!--    <td width="1%">
                    <div data-ng-if="file.id === 0">
                        <i class="fa fa-download" style="line-height: inherit"></i>
                    </div>
                    <div data-ng-if="file.id !== 0">
                        <a id="download_{{file.id}}" tooltip="Download" style="text-decoration: none; cursor: pointer;" data-ng-click="download(file)">
                <i class="fa fa-download"></i></a>  
                        <vm-download control-id="download_{{file.id}}" download-url="/DownloadDoc/{{file.Code}}" element-id="divDocDownload">
                        </vm-download>
 
                    </div>
                </td> -->
                <td width="75%">
                    <span tooltip="{{file.name}}">{{file.choppedfilename | characters:20}}</span>
                </td>
                <td width="25%">
                    <span tooltip="{{file.documenttypename}}">{{file.documenttypename | characters:20}}</span>
                </td>
                <!-- <td class="ng-hide">
                    <span tooltip="{{file.type}}">{{file.type | characters:10}}</span>
                </td>
                <td class="ng-hide">{{file.createdby}}</td>
                <td class="ng-hide">{{file.modifiedDate}}</td> -->
            </tr>
        </tbody>
    </table>
<div id="divDocDownload" style="display:none;">
</div>
