<footer class="footer" ng-show="showFooter">
    <span style="color:#A6A6A6;">
    <span style="padding-left:40px; font-size:larger;">&copy; SeekRx 2015. A Healthcare Group | Sitemap | Privacy</span>
    <span style="padding-left:500px;">
    <img src="/app/img/footer/Facebook.png" style="padding:20px;"/>
    <img src="/app/img/footer/Twitter.png" style="padding:20px;"/>
    <img src="/app/img/footer/LinkedIn.png" style="padding:20px;"/>
    <img src="/app/img/footer/Google_.png" style="padding:20px;"/>
    </span>
    </span>
</footer>
