<!--Description: The Speciality page deals with creating Speciality and to edit the speciality. 
* Author: Sabariraja M   
* Created On: 13/08/2015  
* Modified For: 
* Modified On:
* Modified By:
* *-->
<div ng-controller="specialitycontroller">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-5">
                <vm-title title-value="Speciality" style-value="info alert-info" expand-collapse="minus"
                          control-id="title_Speciality"></vm-title>
                <div class="well">
                    <lookup-table templateurl="app/speciality/view/specialityTable.html"
                                  sourceurl="/speciality" datasource="ViewModels" control-id="speciality"></lookup-table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                 <section data-ng-include=" 'app/speciality/view/specialitydetails.html' "></section> 
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="openSpecialityModal('md', null, 'add')" id="btnSpeciality_Add">
                    <i class="fa fa-plus">
                    </i>&nbsp;Create
                </a>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="SpecialityModalContent.html">
        <form name="SpecialityForm" ng-controller="specialitycontroller" data-ng-submit="SaveSpeciality(SpecialityDetails)" novalidate ngformvalidate>
            <div class="vm-modal-header" id="div_specialitymodal">
                <button type="button" class="close" ng-click="cancel()">
                    &times;
                </button>
                <h3 class="modal-title">{{specialityModelTitle}}</h3>
            </div>


            <div class="modal-body">
                <input type="hidden" class="col-md-12" id="txtHiddenSpecialityId" name="txtHiddenSpecialityId" placeholder="" ng-model="SpecialityDetails.Id">
                <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Name
                                </label>
                                <input type="text" class="form-control" id="txtName_Speciality" placeholder="Name"
                                       ng-model="SpecialityDetails.SpecialityName" name="Name" data-controlname="Name" ng-required="true"
                                       ngvalidate data-ng-minlength="1" maxlength="100">
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="divIsActive">
                            <div class="form-group">
                                <label>Status</label>
                                <div><toggle-switch model="SpecialityDetails.switchStatus"><toggle-switch></div>
                        </div>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <vm-title control-id="SpecialityDocument" title-value="Document(s)" style-value="info alert-info" text-value="ADD" icon=" fa fa-plus">
                            <button class="btn btn-success" ng-click="titleButtonClicked($event)" id="SpecialityDocuments">ADD</button>
                        </vm-title>
                        <section data-ng-include=" 'app/documentupload/view/documentUploadGrid.html' "></section>
                    </div>
                </div>
            </div>
            <div class="vm-modal-footer">
                <button type="submit" class="btn btn-primary" formname="SpecialityForm" click-once="Saving...">Save</button>
            </div>
        </form>
    </script>
</div>
