<!--Description: The Speciality Table deals with creating of table for Speciality name,ID,code  & status. 
* Author: Sabariraja M   
* Created On: 13/08/2015  
* Modified For: 
* Modified On:
* Modified By:
* *-->
<div class="row">
    <div id="dt-pbar-{{controlId}}">
    </div>
    <table datatable="ng" dt-options="lookUpDtOptions" dt-column-defs="lookUpDtColumnDefs"
           class="table table-striped table-condensed table-responsive">
        <thead class="ng-hide">
            <tr>
                <th class="vm-text-center">
                </th>
                <th class="vm-text-center" data-column-name="Name">
                    Name
                </th>
                <th class="vm-text-center" data-column-name="Id">
                    ID
                </th>
                <th class="vm-text-center" data-column-name="Code">
                    Code
                </th>
                <th class="vm-text-center ng-hide" data-column-name="Status">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in LookUpData | orderBy:'name' | filter:search">
                <td width="2%;">
                    <!--<a ng-click="openMasterModal(data)" class="View"><i class="View fa fa-level-down text-primary"></i></a>&nbsp;&nbsp;-->
                    <span tooltip=Edit style="float: none; position: static;" class="vm-cursor-pointer">
                        <a ng-click="openLookUpModal(data)"><i class="fa fa-edit text-primary"></i></a>
                    </span>
                    <!--&nbsp;&nbsp;<a href="javascript:void(;)"><i class="fa fa-trash-o text-danger"></i></a>-->
                </td>
                <td width="98%;">
                    <span tooltip="{{data.Name}}" tooltip-append-to-body="true" ng-click="showLookUpDetails(data)" class="vm-cursor-pointer" data-column-name="Name">
                        {{ data.name | characters:25}}
                    </span>
                </td>
                <td class="vm-text-center ng-hide" data-column-name="Id">
                    {{data.id}}
                </td>
                <td class="vm-text-center ng-hide" data-column-name="Code">
                    {{data.code}}
                </td>
                <td class="vm-text-center ng-hide" data-column-name="Status">
                    {{data.status}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
