﻿<input type="hidden" class="col-md-12" id="txtCompanyID" name="txtCompanyID" placeholder="" ng-model="companydetails.Id">  
<div class="row">
    <div class="col-md-12">
        <vm-title title-value="Company Title" style-value="info alert-info" expand-collapse="minus" control-id="title_company"></vm-title>
        <div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" id="txtCompnyName" name="txtCompnyName" placeholder="Name" ng-model="CompanyDetails.CompanyName" data-controlname="Name" data-ng-minlength="3" ng-required="true" ngvalidate />
                </div>
                <div class="form-group col-md-6">
                    <label>EIN/TIN</label>
                    <input type="text" class="form-control" id="txtTin" name="txtTin" placeholder="TIN" ng-model="CompanyDetails.TIN" data-controlname="EIN/TIN" ngvalidate />
                </div>
            </div>
        </div>
    </div>      
</div>
<div class="row">
    <div class="col-md-6">
        <vm-title title-value="Communication Address" style-value="info alert-info" expand-collapse="minus" control-id="title_CommuncationAddress"></vm-title>
        <div>
            <section data-ng-include=" 'app/company/view/companycommunicationaddress.html' "></section>
        </div>
    </div>
    <div class="col-md-6">
        <vm-title title-value="Permanent Address" style-value="info alert-info" expand-collapse="minus" control-id="title_PermanentAddress"></vm-title>
        <div>
            <section data-ng-include=" 'app/company/view/companypermanentaddress.html' "></section>
        </div>
    </div>
</div>
<div>&nbsp;</div>
<vm-title title-value="Settings" style-value="info alert-info" expand-collapse="minus" control-id="title_AppSettings"></vm-title>
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    Currency
                </label>
                <vm-ui-select2 master-name="Currency" control-id="cboCurrency" place-holder="Currency" ng-select-model="CompanyDetails.Currency"
                               source-url="/data/dropdown-data.json" source-obj="Currency" required-field="false"></vm-ui-select2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    Time Zone
                </label>
                <vm-ui-select2 master-name="Time Zone" control-id="cboZone" place-holder="Zone" ng-select-model="CompanyDetails.Zone"
                               source-url="/data/dropdown-data.json" source-obj="Zone" required-field="false"></vm-ui-select2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    Language
                </label>
                <vm-ui-select2 master-name="Language" control-id="cboLanguage" place-holder="Language" ng-select-model="CompanyDetails.Language"
                               source-url="/data/dropdown-data.json" source-obj="Languages" required-field="false"></vm-ui-select2>
            </div>
        </div>
    </div>
</div>