<div ng-controller="CompanyController">
    <div id="divCompanyForm">
        <form id="frmCompanyCrud" name="frmCompanyCrud" data-ng-submit="SaveData(companydetails)" novalidate ngformvalidate>
            <div class="row">
                <div class="col-md-12">
                        <section data-ng-include=" 'app/company/view/CompanyFormPartialView.html' "></section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <center>
                            <button type="submit" class="btn btn-primary btn-lg" id="btn_CompanySave">
                                Save
                            </button>
                        </center>
                </div>
            </div>
        </form>
    </div>
</div>
<div>&nbsp;</div>
