﻿<div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" name="txtCommAddrStreetLine1_Company" id="txtCommAddrStreetLine1_Company"
                       placeholder="Street Line 1" ng-model="CompanyDetails.ContactDetails.CommunicationAddress.StreetLine1"
                       data-controlname="Street Line 1" ng-required="true" data-ng-maxlength="500" ngvalidate />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" name="txtCommAddrStreetLine2_Company" id="txtCommAddrStreetLine2_Company"
                       placeholder="Street Line 2" ng-model="CompanyDetails.ContactDetails.CommunicationAddress.StreetLine2"
                       data-controlname="Street Line 2" ng-required="true" data-ng-maxlength="500" ngvalidate />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtCommAddrCity_Company" placeholder="City"
                       ng-model="CompanyDetails.ContactDetails.CommunicationAddress.City" name="txtCommAddrCity_Company"
                       data-controlname="City" ng-required="true" data-ng-maxlength="50" ngvalidate>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtCommAddrState_Company" placeholder="State"
                       ng-model="CompanyDetails.ContactDetails.CommunicationAddress.State" name="txtCommAddrState_Company"
                       data-controlname="State" ng-required="true" data-ng-maxlength="50" ngvalidate>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtCommAddrPostalCode_Company" placeholder="Postal Code"
                       ng-model="CompanyDetails.ContactDetails.CommunicationAddress.PostalCode" name="txtCommAddrPostalCode_Company"
                       data-controlname="Postal Code" ng-required="true" data-ng-maxlength="10" ngvalidate>
            </div>
        </div>
    </div>
</div>
