﻿<div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="checkbox" ng-model="CompanyDetails.ContactDetails.SameasCommunicationAddress" />&nbsp;&nbsp;Same as Communication Address
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" name="txtPermanentAddrStreetLine1_Company" id="txtPermanentAddrStreetLine1_Company"
                       placeholder="Street Line 1" ng-model="CompanyDetails.ContactDetails.PermanentAddress.StreetLine1"
                       data-controlname="Street Line 1" ng-required="true" data-ng-maxlength="500" ngvalidate />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" name="txtPermanentAddrStreetLine2_Company" id="txtPermanentAddrStreetLine2_Company"
                       placeholder="Street Line 2" ng-model="CompanyDetails.ContactDetails.PermanentAddress.StreetLine2"
                       data-controlname="Street Line 2" ng-required="true" data-ng-maxlength="500" ngvalidate />
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtPermanentAddrCity_Company" placeholder="City"
                       ng-model="CompanyDetails.ContactDetails.PermanentAddress.City" name="txtPermanentAddrCity_Company"
                       data-controlname="City" ng-required="true" data-ng-maxlength="50" ngvalidate>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtPermanentAddrState_Company" placeholder="State"
                       ng-model="CompanyDetails.ContactDetails.PermanentAddress.State" name="txtPermanentAddrState_Company"
                       data-controlname="State" ng-required="true" data-ng-maxlength="50" ngvalidate>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtPermanentAddrPostalCode_Company" placeholder="Postal Code"
                       ng-model="CompanyDetails.ContactDetails.PermanentAddress.PostalCode" name="txtPermanentAddrPostalCode_Company"
                       data-controlname="Postal Code" ng-required="true" data-ng-maxlength="10" ngvalidate>
            </div>
        </div>
    </div>
</div>