<div ng-controller="LandingpageController" ng-init="init()">
    <div class="row">
        <img id="divIntorductionImg" src="/app/img/Background/All_background.png" />
        <div id="divIntorduction" class="col-xs-12 col-sm-12 col-md-12">
            <center>
                <div class="row">
                    <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-8 col-sm-8 col-md-8">
                        <h1>
                            SeekRx Healthcare</h1>
                        <p style="font-size: x-large; color: Black;">
                            <big><b>An easy way for smarter health care</b></big></p>
                        <p style="font-size: x-large; color: Black;">
                            <big>SeekRx is based on standard and emerging technology that is required to function
                                healthcare system easy,faster, effectively and to deliver better user experience</big></p>
                        <p style="padding-top: 50px;">
                            <a href="#/404" class="btn btn-lg btn-vm-member">
                                <span style="font-size: xx-large;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Become a Member&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a></p>
                    </div>
                </div>
                <div class="row">
                    <p>
                        <ul id="divfeatures" style="padding-left: 0px;">
                            <li class="list-vertical">
                                <center>
                                    <a class="landpage-item-link">
                                        <div>
                                            <img src="app/img/Background/PatientMgmt-icon.png">
                                        </div>
                                    </a>
                                    <p class="vm-list">
                                        <big>Members</big></p>
                                </center>
                            </li>
                            <li class="list-vertical">
                                <center>
                                    <a class="landpage-item-link">
                                        <div>
                                            <img src="app/img/Background/BranchMgmt-icon.png">
                                        </div>
                                    </a>
                                    <p class="vm-list">
                                        <big>Facilities</big></p>
                                </center>
                            </li>
                            <li class="list-vertical">
                                <center>
                                    <a  class="landpage-item-link">
                                        <div>
                                            <img src="app/img/Background/EmployeeMgmt-icon.png">
                                        </div>
                                    </a>
                                    <p class="vm-list">
                                        <big>Centers</big></p>
                                </center>
                            </li>
                            <li class="list-vertical">
                                <center>
                                    <a class="landpage-item-link">
                                        <div>
                                            <img src="app/img/Background/Management-icon.png">
                                        </div>
                                    </a>
                                    <p class="vm-list">
                                        <big>Management</big></p>
                                </center>
                            </li>
                            <li class="list-vertical">
                                <center>
                                    <a class="landpage-item-link">
                                        <div>
                                            <img src="app/img/Background/Doctors-icon.png">
                                        </div>
                                    </a>
                                    <p class="vm-list">
                                        <big>Doctors</big></p>
                                </center>
                            </li>
                        </ul>
                    </p>
                </div>
            </center>
        </div>
    </div>
    <div class="row" id="divSearchDoctor">
        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2  col-md-8 col-sm-8 col-xs-8 vm-padding-topbottom">
            <center>
                <div class="inner-addon right-addon">
                  <i class="fa fa-search fa-2x" style="color:White;"></i>
                  <input type="text" class="form-control vm-text-search input-lg" id="Text1" placeholder="Find A Doctor"
                    ng-model="Doctor" name="txtSearchDoctor" data-controlname="Doctor" disabled 
                    style="background-color: #26DEDF;">
                </div>              
            </center>
        </div>
    </div>
    <div class="row vm-padding-topbottom">
        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2  col-xs-4 col-sm-4 col-md-4">
            <img src="/app/img/Background/Introduction-iiiustration.png"/>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4" style="padding-top: 60px;">
            <p style="font-size:xx-large; color:#6E6E6E;">
                Introduction to SeekRx</p>
            <p style="font-size:larger;color:#848484;">
                SeekRx is designed to help patients and doctors for better health cartte system
                that is available anytime, anywhere. Whether patients want to find physicians, book
                appointment, check the status of their health records or manage prescriptions.</p>
        </div>
    </div>
    <div class="row vm-padding-topbottom" id="divinfo">
        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-xs-8 col-sm-8 col-md-8">
            <center>
                <p style="color: #FFFFFF; font-size: xx-large;">
                    We build this mobile app foundation for everyone</p>
            </center>
            <center style="color: #FFFFFF; padding-bottom: 20px;font-size: x-large;">
                <div>
                    <small>SeekRx is based on standard and emerging technology that is required to function
                        healthcare system easy,faster, effectively and improving operational effectiveness</small></div>
                <div style="border-bottom: 2px solid #FFFFFF; width: 250px;">
                    &nbsp;</div>
            </center>
        </div>
    </div>
</div>
<!--<img src="/app/img/Background/Landing-Page.png" />-->