<div ng-controller="appointmentcontroller">
    <form name="AppointmentForm" novalidate ngformvalidate>
        <div class="row">
            <vm-title title-value="Book an Appointment" style-value="info alert-info" expand-collapse="minus"
                      control-id="title_Appointment"></vm-title>
            <div class="well">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>
                            Speciality
                        </label>
                        <vm-ui-select2 master-name="Speciality" control-id="Speciality" place-holder="Speciality" ng-select-model="AppointmentDetails.Speciality"
                                       source-url="/data/Speciality.json" source-obj="ViewModels" required-field="true" ngvalidate></vm-ui-select2>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>
                            Patient Id
                        </label>
                        <input type="text" id="txt_patientId" placeholder="Patient Id" ng-model="AppointmentDetails.PatientId" class="form-control" name="PatientId" data-controlname="Patient Id" maxlength="20"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>
                            Patient Contact No.
                        </label>
                        <input type="text" id="txt_patientcontactNo" placeholder="Patient Contact No." ng-model="AppointmentDetails.PatientContactNo" name="PatientContactNo" data-controlname="Patient Contact No." class="form-control" 
                        		data-ng-minlength="10" maxlength="10" ng-required="true" ng-pattern="/^\d+$/" ngvalidate />
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="pull-right">
                    <button type="submit" ng-click="nextclick(AppointmentDetails)" id="btnSubmit" class="btn btn-success btn-block">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-4" ng-if="DoctorsAvailable">
            <vm-title title-value="Available Doctor(s)" style-value="info alert-info" expand-collapse="minus"
                      control-id="title_Doctor"></vm-title>
            <div class="well">
                <lookup-table templateurl="app/appointment/view/availableDoctorLookupTable.html"
                              sourceurl="/data/Users.json" datasource="ViewModels" control-id="user"></lookup-table>
            </div>
        </div>
        <div class="col-md-8" ng-if="DoctorsSchedule">
            <section data-ng-include=" 'app/event/view/event.html' "></section>
        </div>
    </div>
</div>
