﻿<div ng-controller="UserScheduleController">
<vm-title title-value="User Schedule" style-value="info alert-info" expand-collapse="minus" control-id="title_UserSchedule"></vm-title>
    <div id="divUserSchedule">
        <form name="UserScheduleForm" data-ng-submit="submitUserScheduleForm(ScheduleDetails)" novalidate ngformvalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>User Type</label>
                        <vm-ui-select2 master-name="User Type" control-id="cboUserType" place-holder="User Type" ng-select-model="ScheduleDetails.UserType"
                                       source-url="/data/UserType.json" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>User</label>
                        <vm-ui-select2 master-name="User" is-disabled="true" is-dependent="true" dependent-column="usertype" dependent-dropdown-id="cboUserType"
                            control-id="cboUser" place-holder="User" ng-select-model="ScheduleDetails.User"
                                       source-url="/data/Users.json" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section data-ng-include=" 'app/event/view/event.html' "></section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <button type="submit" class="btn btn-primary" formname="UserScheduleForm" click-once="Saving...">Submit</button>
                    </center>
                </div>
            </div>
        </form>
    </div>
</div>
