<!-- <vm-title title-value="Address Info" style-value="info alert-info" expand-collapse="minus" control-id="title_address"></vm-title> -->
<div ng-controller="patientregistrationController" ng-init="loadProfileInfo()">
<form name="AddressForm" data-ng-submit="submitAddressform(RegistrationDetails)" novalidate ngformvalidate>
   <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">
                    &times;
                </button>
                <h4 class="modal-title">Edit Address Details</h4>
            </div>
    <div id="{{ 'divAddress_' + controlId}}">
    <div class="col-md-12">
        <div class="form-group row">
            <label for="{{'txtAddressLine1_'+ controlId}}" class="col-sm-4 control-label vm-nowrap">
                Street Line 1</label>
            <div class="col-sm-8">
                <input type="text" ng-model="AddressLine1" class="form-control required" id="{{'txtAddressLine1_'+ controlId}}" placeholder="Street line1" name="{{'txtAddressLine1_'+ controlId}}" data-controlname="Street Line 1" autocomplete="off" data-ng-maxlength="500" ng-required="true" ngvalidate/>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{'txtAddressLine2_'+ controlId}}" class="col-sm-4 control-label vm-nowrap">
                Street Line 2</label>
            <div class="col-sm-8">
                <input type="text" ng-model="AddressLine2" class="form-control vm-dummy-txtAddress" id="{{'txtAddressLine2_'+ controlId}}" placeholder="Street line2" name="{{'txtAddressLine2_'+ controlId}}" data-controlname="Street Line 2" data-ng-maxlength="500" ng-required="true" autocomplete="off"/>
            </div>
        </div>
           <div class="form-group row">
            <label class="col-sm-4 control-label" for="{{'cboCountry_'+ controlId}}">
                Country
            </label>
            <div class="col-sm-8">
               <vm-ui-select2 master-name="Country" control-id="{{'cboCountry_'+ controlId}}" place-holder="Select Country" ng-select-model="countryModel"  data-controlname="Country"
                    source-url="/data/Country.json" source-obj="ViewModels" required-field="true"  ></vm-ui-select2>
            </div>
        </div>
            <div class="form-group row">
            <label class="col-sm-4 control-label" for="{{'cboState_'+ controlId}}">
               State
            </label>
            <div class="col-sm-8">
                  <vm-ui-select2 master-name="State" control-id="{{'cboState_'+ controlId}}" place-holder="Select State" ng-select-model="stateModel" data-controlname="State"
                      is-dependent="true" dependent-dropdown-id="{{'cboCountry_'+ controlId}}" dependent-column="CountryCode"  source-url="/data/State.json" source-obj="ViewModels" required-field="true"  ></vm-ui-select2>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{'cboCity_'+ controlId}}" class="col-sm-4 control-label">
                City</label>
            <div class="col-sm-8">
               <!--<vm-ui-select2 control-id="{{'cboCity_'+ controlId}}" place-holder="Select City" ng-select-model="cityModel" items="Cities" ></vm-ui-select2>-->
               <input type="text" class="form-control vm-dummy-txtAddress" ng-model="City" id="{{'txtCity_'+ controlId}}" placeholder="City" name="{{'txtCity_'+ controlId}}" autocomplete="off" data-controlname="City" data-ng-maxlength="50" ng-required="true" ngvalidate/>
            </div>
        </div>
     
        <div class="form-group row">
            <label for="{{'txtZip_'+ controlId}}" class="col-sm-4 control-label vm-nowrap">
                Postal Code</label>
            <div class="col-sm-8">
                <input type="text" maxlength="20" data-controlname="Postal Code" ng-pattern="/^[0-9]*$/" ng-model="PostalCode" class="form-control required vm-dummy-txtAddress alphanumeric" id="{{'txtZip_'+ controlId}}" placeholder="Zip" name="{{'txtZip_'+ controlId}}" autocomplete="off" ng-required="true" ngvalidate/>
            </div>
        </div>
     
    </div>
     <div class="row"></div>
           <div class="row">
                <div class="col-md-12">
                    <center>
                        <button type="submit" class="btn btn-primary" formname="AddressForm">Submit</button>
                    </center>
                </div>
                &nbsp;&nbsp;
            </div>
            
</div>
</form>
</div>