
<!-- <div>
=======
<vm-title title-value="Communication Details" style-value="info alert-info" expand-collapse="minus" control-id="title_CommunicationDetails"></vm-title>
<div>
>>>>>>> .r573
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" name="txtCommAddrStreetLine1_User" id="txtCommAddrStreetLine1_User"
                       placeholder="Street Line 1" ng-model="RegistrationDetails.temporaryAddress.StreetLine1"
                       data-controlname="Street Line 1" ng-required="true" data-ng-maxlength="500" ngvalidate />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" name="txtCommAddrStreetLine2_User" id="txtCommAddrStreetLine2_User"
                       placeholder="Street Line 2" ng-model="RegistrationDetails.temporaryAddress.StreetLine2"
                       data-controlname="Street Line 2" ng-required="false" data-ng-maxlength="500" ngvalidate />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtCommAddrCity_User" placeholder="City"
                       ng-model="RegistrationDetails.temporaryAddress.City" name="txtCommAddrCity_User"
                       data-controlname="City" ng-required="true" data-ng-maxlength="50" ngvalidate>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtCommAddrState_User" placeholder="State"
                       ng-model="RegistrationDetails.temporaryAddress.State" name="txtCommAddrState_User"
                       data-controlname="State" ng-required="true" data-ng-maxlength="50" ngvalidate>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtCommAddrPostalCode_User" placeholder="Postal Code" ng-pattern="/^[0-9]*$/"
                       ng-model="RegistrationDetails.temporaryAddress.PostalCode" name="txtCommAddrPostalCode_User"
                       data-controlname="Postal Code" ng-required="true" maxlength="10" ngvalidate>
            </div>
        </div>
    </div>
</div> -->
<!--  <vm-title title-value="Communication Address" style-value="info alert-info" expand-collapse="minus" control-id="title_communicationaddress"></vm-title>  -->
 <address control-id="CommunicationAddress"></address>