<vm-title title-value="Contact Details" style-value="info alert-info" expand-collapse="minus" control-id="title_ContactDetails"></vm-title>
<div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    Contact No.
                </label>
                <input type="text" class="form-control" id="txtContactNo_User" placeholder="Contact No."  maxlength="16" ng-pattern="/^[ 0-9()+-]*$/"
                       ng-required="true" ng-model="RegistrationDetails.contactNumber"
                       name="txtContactNo_User" data-controlname="Contact No." data-ng-minlength="10"  ngvalidate>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    Emergency Contact No.
                </label>
                <input type="text" class="form-control" id="txtEmergencyContactNo_User" placeholder="Emergency Contact No."  maxlength="16" ng-pattern="/^[ 0-9()+-]*$/"
                       ng-required="true" ng-model="RegistrationDetails.emergencyContactNumber"
                       name="txtEmergencyContactNo_User" data-controlname="Emergency Contact No." data-ng-minlength="10" ngvalidate>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    User Identity Type
                </label>
                <vm-ui-select2 master-name="User Identity Type" control-id="UserIdentityType" place-holder="User Identity Type" ng-select-model="RegistrationDetails.userIdTypeCode"
                                       source-url="/useridentity" source-obj="ViewModels" required-field="true"></vm-ui-select2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    Id Proof No.
                </label>
                <input type="text" ng-disabled="IdProofNo_View" class="form-control" id="txtIdProofNo_User" placeholder="Id Proof No."
                       ng-required="true" ng-model="RegistrationDetails.userIdNumber"
                       name="txtIdProofNo_User" data-controlname="Id Proof No." maxlength="20" ngvalidate>
            </div>
        </div>
    </div>
 
</div>
<div class="row">
        <div class="col-md-6">
            <vm-title title-value="Communication Address" style-value="info alert-info" expand-collapse="minus" control-id="title_CommuncationAddress"></vm-title>
            <address control-id="CommunicationAddress"></address>
        </div>
        <div class="col-md-6">
            <vm-title title-value="Permanent Address" style-value="info alert-info" expand-collapse="minus" control-id="title_PermanentAddress"></vm-title>
            <address control-id="PermenantAddress"></address>
        </div>
    </div> 