﻿<vm-title control-id="UserDocument" title-value="Upload Document(s)" style-value="info alert-info" expand-collapse="minus" text-value="ADD" icon=" fa fa-plus"></vm-title>
<section data-ng-include=" 'app/documentUpload/view/documentUploadGrid.html' "></section>
