<div ng-controller="patientregistrationController">
    <div class="row">
        <div class="col-md-12"><center>
            <h3 style="margin-top:0px;">Register Patient</h3>
        </center></div>
    </div>
    <div id="divRegistration">
        <form name="RegisterForm" data-ng-submit="submitregisterform(RegistrationDetails)" novalidate ngformvalidate>
            <section data-ng-include=" 'app/patientregistration/view/personaldetails.html' "></section>
            <section data-ng-include=" 'app/patientregistration/view/contactdetails.html' "></section>
               <section data-ng-include=" 'app/patientregistration/view/documentdetails.html' "></section> 
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <button type="submit" class="btn btn-primary" formname="RegisterForm">Submit</button>
                    </center>
                </div>
                &nbsp;&nbsp;
            </div>
        </form>
    </div>
</div>
