<!-- <vm-title title-value="Permanent Address" style-value="info alert-info" expand-collapse="minus" control-id="title_PermanentAddress"></vm-title>
<div>

     <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            &nbsp;
                <input type="checkbox" ng-model="RegistrationDetails.SameasCommunicationAddress"/>&nbsp;&nbsp;Same as Communication Address
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" name="txtPermanentAddrStreetLine1_User" id="txtPermanentAddrStreetLine1_User"
                       placeholder="Street Line 1" ng-model="RegistrationDetails.permenantAddress.StreetLine1"
                       data-controlname="Street Line 1" ng-required="true" data-ng-maxlength="500" ngvalidate />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" name="txtPermanentAddrStreetLine2_User" id="txtPermanentAddrStreetLine2_User"
                       placeholder="Street Line 2" ng-model="RegistrationDetails.permenantAddress.StreetLine2"
                       data-controlname="Street Line 2" ng-required="flase" data-ng-maxlength="500" ngvalidate />
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtPermanentAddrCity_User" placeholder="City"
                       ng-model="RegistrationDetails.permenantAddress.City" name="txtPermanentAddrCity_User"
                       data-controlname="City" ng-required="true" data-ng-maxlength="50" ngvalidate>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtPermanentAddrState_User" placeholder="State"
                       ng-model="RegistrationDetails.permenantAddress.State" name="txtPermanentAddrState_User"
                       data-controlname="State" ng-required="true" data-ng-maxlength="50" ngvalidate>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="txtPermanentAddrPostalCode_User" placeholder="Postal Code" ng-pattern="/^[0-9]*$/"
                       ng-model="RegistrationDetails.permenantAddress.PostalCode" name="txtPermanentAddrPostalCode_User"
                       data-controlname="Postal Code" ng-required="true" maxlength="10" ngvalidate>
            </div>
        </div>
    </div>
</div> -->
 <!-- <vm-title title-value="Permenant Address" style-value="info alert-info" expand-collapse="minus" control-id="title_permenantaddress"></vm-title>  -->
 <address control-id="PermenantAddress" ></address>