<vm-title title-value="Personal Details" style-value="info alert-info" expand-collapse="minus" control-id="title_PersonalDetails"></vm-title>
<div>
    <div class="row">
       <!--  <div class="col-md-3">
            <section data-ng-include=" 'app/webcam/view/webcamera.html' "></section>
        </div> -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            First Name
                        </label>
                        <input type="text" class="form-control" id="txtFirstName_User" placeholder="First Name"
                            ng-model="RegistrationDetails.firstName" name="txtFirstName_User"
                            data-controlname="First Name" ng-required="true" ngvalidate data-ng-minlength="3" maxlength="50" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Middle Name
                        </label>
                        <input type="text" class="form-control" id="txtMiddleName_User" placeholder="Middle Name"
                            ng-model="RegistrationDetails.middleName" name="txtMiddleName_User"
                            data-controlname="Middle Name" maxlength="50" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Last Name
                        </label>
                        <input type="text" class="form-control" id="txtLastName_User" placeholder="Last Name"
                            ng-model="RegistrationDetails.lastName" name="txtLastName_User"
                            data-controlname="Last Name" ng-required="true" ngvalidate data-ng-minlength="1" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Gender</label>
                        <vm-ui-select2 master-name="Gender" control-id="Gender" place-holder="Gender" ng-select-model="RegistrationDetails.gender"
                                       source-url="/gender" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Date Of Birth</label>
                        <vm-date-picker control-id="txtDOB_User" ng-class="date-required" control-name="Date of Birth" field-required="true" maximumdate="{{maxdobDate}}" ng-date-selected="RegistrationDetails.dob"></vm-date-picker>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Email
                        </label>
                        <input type="email" class="form-control" id="txt_email" placeholder="Email"
                               ng-model="RegistrationDetails.email" name="txt_email"
                               data-controlname="Email" ng-required="true" maxlength="50" ngvalidate>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Marital Status</label>
                        <vm-ui-select2 master-name="Marital Status" control-id="MaritalStatus" place-holder="Marital Status" ng-select-model="RegistrationDetails.maritalStatus"
                                       source-url=" /maritalstatus" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Blood Group
                        </label>
                        <input type="text" class="form-control" id="txtBloodgroup_User" placeholder="Blood Group"
                            ng-model="RegistrationDetails.bloodGroup" name="txtBloodgroup_User" ng-pattern="/^[ A-Za-z+-]*$/" 
                            data-controlname="Blood Group" ng-required="true" data-ng-minlength="1" ngvalidate maxlength="15">
                    </div>
                </div>
                <div class="col-md-4">&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
<div>&nbsp;</div>
