
    <div ng-controller="patientregistrationController" ng-init="loadProfileInfo()">
      <div class="row vm-dummy-nonPrintable" id="breadcrumb" style="height:20px;margin-bottom:15px;"><ul class="breadcrumb" style="background-color:#FFFFFF"><li><a href="#">USER</a></li><li class="active-item">PROFILE</li></ul></div>
      <div class="row" id="hover-cap-4col">
      <div class="col-md-2">          
      <div class="thumbnail" style="display:inline-block;">                        
      <div id="divprofilepic">                                 
      <img src="https://s.gravatar.com/avatar/7f66ce6277aea2c7251cbda32aecba95">                                                           
      </div>                  
     </div>  </div>
      <div class="col-md-7">  
      <blockquote style="height:50px">                  
      <p>{{RegistrationDetails.firstName}}&nbsp;&nbsp;{{RegistrationDetails.lastName}}
        <span class="pull-right dummy-tooltip" data-toggle="tooltip" title="" data-original-title="Edit Profile">
      <a href="" ng-click="editprofile('lg')" class="btn btn-success btn-sm vm-dummy-editProfile" id="editMyProfile"><i class="fa fa-edit"></i>&nbsp;Edit</a></span>  
      </p>                  
      </blockquote> 
      </div>  
      </div>

         <div class="row">
         <div class="col-md-7">
         <table class="table table-striped table-condensed">               
         <tbody>
         <tr> <td> UHID Number </td> <td><i class="fa fa-openid"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{RegistrationDetails.PatientUHID}}</td> </tr>                                        
          <tr><td _tmplitem="5" > Date Of Birth </td> <td _tmplitem="5" > <i _tmplitem="5"  class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{RegistrationDetails.dob}} </td> </tr>                 
           <tr> <td> Mobile </td> <td><i class="fa fa-mobile-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{RegistrationDetails.contactNumber}}</td> </tr> 
           <tr><td> Email</td><td> <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{RegistrationDetails.email}}</td> </tr>                      
           </tbody></table> 
    </div>
   </div>
    <div class="row">
    <div class="col-md-7">
    
        <div>
    <div id="Form_Header_Address" class="bs-callout bs-callout-info">
    <strong id="Form_Header_text_Address">Address Information&nbsp;</strong><i class="fa vm-dt-href vm-dummy-trunk8 fa-minus-circle" id="Form_Header_ExpCol_Address" style="float: none; position: static;" data-original-title="" title=""></i><a class="vm-hand">
             
    </a>
   </div>
   &nbsp;&nbsp;&nbsp;
         <table class="table table-condensed" id="tbl_EmployeeAddress">     
           <tbody>
           <tr>
        <td width="2.5%" style="padding-top:7px;"><a ng-click="EditAddressInfo($event,'md')" class="Edit  vm-dt-href" id="editAddress"><i class="fa fa-edit dummy-tooltip vm-dummy-trunk8" data-toggle="tooltip" title="" style="float: none; position: static;" data-original-title="Edit"></i></a></td>
            <td width="80%">{{RegistrationDetails.tempAddress}}</td>
                  
                  <td width="15%" data-column-name="AddressType"><span class="label label-default">Communication Address</span></td></tr>
                     <tr>
            <td width="2.5%" style="padding-top:7px;"><a href="" ng-click="EditAddressInfo($event,'md')" class="Edit  vm-dt-href" id="editPerAddress">
            <i class="fa fa-edit" data-toggle="tooltip" title=""  data-original-title="Edit"></i></a></td>
            <td>{{RegistrationDetails.perAddress}}</td>
            <td width="15%" data-column-name="AddressType"><span class="label label-default">Permanent Address</span></td>
                  </tr> 
                  </tbody>
                    </table>
    </div> 
    
    </div>
    
    </div>
    
     </div>


