<div ng-controller="patientregistrationController" ng-init="loadProfileInfo()">
        <form name="EditForm" data-ng-submit="submiteditform(RegistrationDetails)" novalidate ngformvalidate>
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">
                    &times;
                </button>
                <h3 class="modal-title">Edit Patient Details</h3>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 form-group">
                            <label>
                                First Name
                            </label>
                            <input type="text" class="form-control" id="txtFirstName_User" placeholder="First Name"
                            ng-model="RegistrationDetails.firstName" name="txtFirstName_User"
                            data-controlname="First Name" ng-required="true" ngvalidate data-ng-minlength="3" maxlength="50" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>
                                Middle Name
                            </label>
                             <input type="text" class="form-control" id="txtMiddleName_User" placeholder="Middle Name"
                            ng-model="RegistrationDetails.middleName" name="txtMiddleName_User"
                            data-controlname="Middle Name" maxlength="50" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>
                                Last Name
                            </label>
                            <input type="text" class="form-control" id="txtLastName_User" placeholder="Last Name"
                            ng-model="RegistrationDetails.lastName" name="txtLastName_User"
                            data-controlname="Last Name" ng-required="true" ngvalidate data-ng-minlength="1" maxlength="50" />
                        </div>
                    </div>
               </div>
               
               
                   <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 form-group">
                           <label>Gender</label>
                        <vm-ui-select2 master-name="Gender" control-id="Gender" place-holder="Gender" ng-select-model="RegistrationDetails.gender"
                                       source-url="/gender" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Date Of Birth</label>
                        <vm-date-picker control-id="txtDOB_User" ng-class="date-required" control-name="Date of Birth" field-required="true" maximumdate="{{maxdobDate}}" ng-date-selected="RegistrationDetails.dob"></vm-date-picker>
                        </div>
                        <div class="col-md-4 form-group">
                           <label>
                            Email
                        </label>
                        <input type="email" class="form-control" id="txt_email" placeholder="Email"
                               ng-model="RegistrationDetails.email" name="txt_email"
                               data-controlname="Email" ng-required="true" maxlength="50" ngvalidate>
                        </div>
                    </div>
               </div>
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 form-group">
                           <label>Marital Status</label>
                        <vm-ui-select2 master-name="Marital Status" control-id="MaritalStatus" place-holder="Marital Status" ng-select-model="RegistrationDetails.maritalStatus"
                                       source-url="/maritalstatus" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                        </div>
                        <div class="col-md-4 form-group">
                          <label>
                            Blood Group
                        </label>
                        <input type="text" class="form-control" id="txtBloodgroup_User" placeholder="Blood Group"
                            ng-model="RegistrationDetails.bloodGroup" name="txtBloodgroup_User" ng-pattern="/^[ A-Za-z+-]*$/" 
                            data-controlname="Blood Group" ng-required="true" data-ng-minlength="1" ngvalidate maxlength="15">
                        </div>
                        
                         <div class="col-md-4 form-group">
                         <label>
                    Contact No.
                </label>
                <input type="text" class="form-control" id="txtContactNo_User" placeholder="Contact No."  maxlength="16" ng-pattern="/^[ 0-9()+-]*$/"
                       ng-required="true" ng-model="RegistrationDetails.contactNumber"
                       name="txtContactNo_User" data-controlname="Contact No." data-ng-minlength="10"  ngvalidate>
                        </div>
                      
                    </div>
               </div>
               
               
                      <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 form-group">
                          <label>
                    Emergency Contact No.
                </label>
                <input type="text" class="form-control" id="txtEmergencyContactNo_User" placeholder="Emergency Contact No."  maxlength="16" ng-pattern="/^[ 0-9()+-]*$/"
                       ng-required="true" ng-model="RegistrationDetails.emergencyContactNumber"
                       name="txtEmergencyContactNo_User" data-controlname="Emergency Contact No." data-ng-minlength="10" ngvalidate>
                        </div>
                        <div class="col-md-4 form-group">
                           <label>
                    User Identity Type
                </label>
                <vm-ui-select2 master-name="User Identity Type" control-id="UserIdentityType" place-holder="User Identity Type" ng-select-model="RegistrationDetails.userIdTypeCode"
                                       source-url="/useridentity" source-obj="ViewModels" required-field="true"></vm-ui-select2>
                        </div>
                        
                         <div class="col-md-4 form-group">
                         <label>
                    Id Proof No.
                </label>
                <input type="text" ng-disabled="IdProofNo_View" class="form-control" id="txtIdProofNo_User" placeholder="Id Proof No."
                       ng-required="true" ng-model="RegistrationDetails.userIdNumber"
                       name="txtIdProofNo_User" data-controlname="Id Proof No." maxlength="20" ngvalidate>
                        </div>
                      
                    </div>
               </div>
        
               
              </div>
              
                  <div class="row">
                <div class="col-md-12">
                    <center>
                        <button type="submit" class="btn btn-primary" formname="EditForm">Submit</button>
                    </center>
                </div>
                &nbsp;&nbsp;
            </div>
        </form>
    </div>