* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

/*Swathi:Start- Fix for Modal background disabled*/
.modal {
    background-color: rgba(0,0,0,0.7);
}

/*.fade.in {
    opacity: .9;
}
Swathi:End- Fix for Modal background disabled*/

/*.login-form {
    margin-top: 60px;
}*/

form[role=login] 
{
    padding: 20px;
    /*color: #5d5d5d;
    background: #f2f2f2;    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;*/
}

    form[role=login] img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    /*form[role=login] input,
    form[role=login] button {
        font-size: 18px;
        margin: 16px 0;
    }*/

    form[role=login] > div {
        text-align: center;
    }

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}

    .form-links a {
        color: #fff;
    }

/*Holder Styles for rounded*/
.vm-holder img {
    display: inline-block;
    border-radius: 50%;
}

.vm-badge-for-menu {
    position: absolute;
    top: 6px;
    right: -5px;
}

.vm-bg-transparent {
    background-color: transparent;
}

.green {
    color: #78CD51;
}

.red {
    color: #D14836;
}

.blue {
    color: #67C2EF;
}

.yellow {
    color: #FABB3D;
}

.gray {
    color: #999999;
}

.gray-color {
    color: #999999;
}

.vm-white {
    color: #FFFFFF;
}

.vm-red {
    color: red;
}

.vm-text-center {
    text-align: center;
}

th.vm-text-th-center {
    text-align: center;
}

td .vm-text-td-center {
    text-align: center;
}

.vm-datatable {
    padding-left: 20px;
}

.vm-cursor-pointer {
    cursor: pointer;
}

.vm-paddingright {
    padding-right: 25px;
}

/*bs callout (start)*/
.bs-callout {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin: 0;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-danger {
    border-left-color: #ce4844;
}

    .bs-callout-danger h4 {
        color: #ce4844;
    }

.bs-callout-warning {
    border-left-color: #aa6708;
}

    .bs-callout-warning h4 {
        color: #aa6708;
    }

.bs-callout-info {
    border-left-color: #1b809e;
}

    .bs-callout-info h4 {
        color: #1b809e;
    }
/*bs callout (end)*/
/*bs select2 override (start)*/
.select2-choices {
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
}

.bigdrop .select2-container .select2-results {
    max-height: 500px;
}

.bigdrop .select2-results {
    max-height: 500px;
}

.bigdrop .select2-choices {
    min-height: 250px;
    max-height: 500px;
    overflow-y: auto;
}
/*bs select2 override (end)*/

/*vm marketing (start)*/
.vm-mkt-round {
    color: #FFFFFF;
}

.marketing-benefits .octicon-checklist {
    text-align: center;
}

.marketing-benefits .mega-octicon {
    font-size: 48px;
    line-height: 100px;
}

.marketing-benefits p {
    text-align: center;
    color: #ffffff;
}

.marketing-benefits {
    text-align: center;
}

.teaser-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    color: #4183c4;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    border-width: 5px;
}

.mega-octicon {
    font: normal normal 32px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.octicon-checklist:before {
    content: '\f076';
}
/*vm marketing (end)*/
.background-image-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(http://stephenmuscat.com/twilli_air/1.2.3/assets/images/theme_images/background-image-overlay.png) repeat;
}

.tablewidth {
    width: 350px;
}

.top-header {
    border-top: 5px solid #FCB913;
}

.site-description {
    color: #aaaaaa;
    font-size: 20px;
}

.vm-navbarmargin {
    margin-bottom: 0px;
}

header {
    height: 100px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.product-item {
    /*border-style:ridge;*/
    position: relative;
    display: block;
}

.product-item-text {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    z-index: 2;
    height: 100%;
}

.product-text {
    position: absolute;
    top: 75px;
    margin-top: 15px;
    width: 100%;
    z-index: 1000;
}

.dropdown-menu > li.hover {
    background-color: #D7410B;
}

.vm-panel-border {
    box-shadow: 2px 2px 2px 2px #888888;
}

.owl-carousel .owlLandingPage {
    height: 350px;
    width: 1150px;
    border-color: #DABCBE;
    text-align: center;
}

.commentsfont {
    font-size: 12px;
}


.vm-reach-bg {
    background-color: #5EB190;
    height: 100%;
}

.ta-toolbar {
    background-color: #F0F0F0;
    padding: 10px 10px 5px;
    margin-left: 0px;
    border: 1px solid #EEE;
}

.ta-editor, .white-box {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #EEE;
}

.vm-font-color-black {
    color: #2E2E2E;
}

.vm-font-color-white {
    color: white;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
}

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate(-300px, 0) scale(4);
        font-size: 23px;
        direction: ltr;
        cursor: pointer;
    }

/* Set the fixed height of the footer here */
#footer
{
    background-color:#E1E1E1;
}
.footergradientimage {
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(5%,#FCB913 ), color-stop(6%,#424242),color-stop(100%,#424242));
}
/* Sticky footer styles (end)*/
.vm-overviewBorder {
    color: Gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BDBDBD;
    margin-bottom: 20px;
}

.vm-creatorImg {
    width: 100%;
    height: 220px;
  
}

.vm-editorImg {
    width: 100%;
    height: 550px;
}

.vm-creatorlist {
    list-style-type: none;
    border-style: ridge;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  float: left;
  width: 216px;
  height: 280px;
  border-radius: 1px;
  margin: 20px 20px 40px 0;
  overflow: hidden;
  position: relative;
}

.vm-CreateNewDiv1 {
    background-color: White;
    margin: 10px 0px 10px 0px;
    border-style: ridge;
}

.vm-CreateNewDiv2 {
    background: #fff;
    padding: 20px;
    min-height: 320px;
}

.vm-divmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-item-status {
    font-size: 10px;
    color: #82807d;
}

.page-item-imagespan {
    font-size: 10px;
    font-weight: 600;
    color: black;
}

.page-item-link, .page-item-link:hover {
    text-decoration: none;
    cursor: pointer;
}
.landpage-item-link, .landpage-item-link:hover {
    text-decoration: none;
    cursor: default;
}
.vm-subtitle {
    font-size: 10px;
    font-style: italic;
    padding-top: 5px;
}

.vm-dragable-control {
    background: #2ca6d8;
    padding: 8px;
    width: 180px;
    text-align: center;
    vertical-align: middle;
    display:table-cell;
}

.vm-dragable-anch, .vm-dragable-anch:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.vm-modal-template {
    background-color: white;
    width: 450px;
    border-style: solid;
    border-width: 1px;
    border-color: #D8D8D8;
}

.form-horizontal .vm-label
{
    font-weight:normal;
}

.add-pages nav li:first-child {
  padding-left: 0;
}

.add-pages nav li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #aaa;
  list-style: none;
}
.add-pages nav li a
{
    cursor:pointer;
}

.add-pages nav li.active a {
  color: #46484d;
  text-decoration: none;  
}

.add-pages nav li:last-child {
  border-right: 0;
}

.upload-pages, .import-pages section {
  background: white;
  padding: 20px;
  border: 1px solid #aaa;
  min-height: 384px;
}

.upload-pages ol {
  min-height: 268px;
  margin-bottom: 0;
}

.upload-pages .uploader.block {
  display: block;
  height: auto;
}

.upload-pages ol li, .import-pages ol li {
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  height: 130px;
  overflow: hidden;
}

.upload-div
{
    min-height: 300px; 
    background-color:#F2F2F2; 
    border-style:1px solid;
    border: 1px dotted #A4A4A4;
}

.ui-resizable-handle {
  border-radius: 6px;
  background-clip: padding-box;
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.4);
  width: 12px;
  height: 12px;
  margin: -1px!important;
}

.vm-creator-details{
background: white;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.05);
  position: absolute;
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
  color: #82807d;
  height:100px;
transition-property: bottom,height;
 transition-duration: 1s;
transition-delay: ease-in-out;
}

.vm-creator-details a
{
  font-size: 1.6rem;
  line-height: 2em;
  text-transform: none;
  margin: 7px 10px 3px 0;
  color : #46484d; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.vm-creator-figure
{
  
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0;
  background: #82807d no-repeat 50% 0/cover;
}

.vm-status-wrap
{
  overflow: hidden;
  margin-right: -2px;
}

.creator_slideup
{
    height:0px;
}

.creator_slidedown
{
    height:220px;
}

#spinnerModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: grey;
    opacity: .8;
}
.httpRequest-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
    color: #292D7E;
}

/*CSS for webcam -- Starts*/
.ng-camera-stack {
    position: relative;
}

.ng-camera-overlay {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
}

.caption {
	position: absolute;
	top: 0;
	background: rgba(0,0,0,0.2);
	width: 150px;
	height: 180px;
	color:#fff !important;
}
.caption p {
	padding:6px;
	padding-top:130px;
	padding-left:45px;
    opacity:0.2;
}

.caption:hover
{
    background: rgba(0,0,0,0.7);
}

.caption p:hover 
{
    opacity:0.7;
}

.thumbnail > img {
  display: block;
  height: auto;
  max-width: 150px;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #428bca;
}

.thumbnail > img {
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #333333;
}
/*CSS for webcam -- Ends*/

.slideleft-header {
background:linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5)!important;
color:white!important;
/*width: 250px;*/
margin:0px;
padding:3px;
}
.custom-user-icon {
    color:#54b4eb!important;
    background-color:white!important;
    border-color:white!important;
}

#sidebar-wrapper .nav-second-level 
{
  display :block;
  position: fixed;
  min-width: 140px;
  height: 300px;
  left: 49px;
  padding: 10px 0px 10px 0px;
  list-style-type :none; 
  box-shadow: 0px 0px 10px 0px #C7C2C2;
  background-color: #ffffff; 
  overflow-y:scroll; 
}

.nav-second-level > li > a
{
    color:#6E6E6E;
}

.nav-second-level > li:hover
{
    background-color:#76C4F1;
    margin-left: 2px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{
    background-color:#76C4F1;
    margin-left: 2px;
}

.nav-second-level > li > a:hover
{
    color:#FFFFFF;
}

.nav-second-level > li > a > i:hover
{
    color:#FFFFFF;
}

#sidebar-wrapper > div.active {
  border-left: 4px solid #1995dc;
}

#sidebar-wrapper > div > ul > li.active {
  background-color: #1995dc;
  margin-left:2px;
}

.nav-active{
	background-color : #eeeeee;
}
.slideleft-header-collapsed {
  background: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5)!important;
  color: white!important;
  margin: 0px;
  padding: 10px;
}

.vm-user-icon
{
    color:#54b4eb!important;
    background-color:white!important;
    border-color:white!important;
    width:30px;
    height:30px;
    border-radius:50px;
    padding: 2px 5px 5px 5px;
}

.nav-second-level .scroll-viewport {
    height: 200px;
    width: 100px;
}

.vm-web-camera
{
  position: absolute;
  bottom: 20px;
  right: 0;
  padding-left: inherit;
}

.bodypadding
{
    padding-top:50px;
}

.font-title
{
    font-size:-webkit-xxx-large;
    color:#09D0D0;
}

.font-description
{
    font-size:xx-large;
    color:Black;
}

.border-description
{    
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
}

.text-color
{
    color:#09D0D0;
}

.vertically-centered-div
{
    margin-top:150px;
}

.list-vertical
{
    display:inline-block;
    padding:30px 60px 0px 60px;
}

.vm-list
{
    color: Black; 
    font-size:large;
}

.vm-body
{
    background-color:#FAFAFA;
    padding:20px;
}

.signin-button
{
    border-radius:50%;
    margin-top: -80px; 
    margin-right: -20px;
}

.navbar-vHMS {
    color: #DDDBDB;
  background-image: linear-gradient(#FFFFFF, #FFFFFF 60%, #FFFFFF);
  border: #ffffff;
  margin-bottom: 0px;

}

 .navbar-nav > li > a {
    color:black!important;
    font-weight:bold;
  }

 .vm-nav-user-icon{
     color:white!important;
    background-color:#54b4eb!important;
    border-color:#54b4eb!important;
    width:20px;
    height:19px;
    border-radius:40px;
    padding: 2px 0px 0px 4px;
 }
 .vm-nav-search{
     border-radius:30px!important;
     height:30px!important;
     border-color: turquoise;
 }

.div-features
{
    padding-left: 0px;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
}
@media (max-width: 768px) {
    .vertically-centered-div
    {
        margin-top:50px;
    }
    
    .div-features
    {
       position:inherit; 
    }
}

.vm-title
{
    color:#424242;
    margin-top:20px;
    margin-bottom:10px;
    font-size:x-large;
}

#divSearchDoctor
{
    background-color:#26DEDF;
    padding:50px;
}

#divIntorductionImg
{
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
}

#divIntorduction
{
    position:absolute;
    top:8%;
}

#divinfo
{
    background-color:#0095B0;
    padding:70px;
}

.vm-text-search{
     border-radius:30px!important;
     border:1px solid #FFFFFF;
     background-color:#26DEDF;
     height:65px;
 }
 
 .vm-padding-topbottom
 {
     padding-bottom:20px;
     padding-top:20px;
 }
 
 .btn-vm-member
 {
     border-radius:45px;
     background-color:#0095B0;
     color:White;
 }
 
 #divfeatures
 {
     padding-top:60px;
 }
 
 .flyover {
   /*margin-top:-1000px;*/
   display: none;
   top: 0;
   overflow: hidden;
   position: fixed;
   width: 100%;
   opacity: 0.9;
   z-index: 1050;
   transition: all 1s ease;
   background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==') repeat-x scroll left top #fff;
}

   .flyover.in {
       /*margin-top: -350px;  */
       display: block;
   }
 
.noty-success {
   background-color: lightgreen;
   color: darkgreen;
   border-color: #50C24E;
}

.noty-info {
   background-color: #CBE9F9;
   border-color: #B5E1F8;
   color: #468847;
}

.noty-warning {
   background-color: #FAEDA8;
   border-color: #F6DE69;
   color: #468847;
}

.noty-danger {
   background-color: red;
   color: #fff;
   border-color: darkred;
}
 
 
 /* enable absolute positioning Starts */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 20px;
  pointer-events: none;
}

/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/* enable absolute positioning Ends */
}

/*To show the search icon in navbar-search--start*/
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    margin-left: 176px;
    padding: 8px 12px;
   cursor:pointer;
}
/*To show the search icon in navbar-search--end*/



/* css for noty starts -- Added by Chaitra*/

/*.alert
{
margin-bottom: 20px !important;
border: 1px solid transparent;
border-radius: 4px;
bottom: 0px !important;
top: -10px !important;
}*/

.flyover {
  top:0;
  display: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  opacity: 0.9;
  z-index: 1050;
  transition: all 1s ease;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==') repeat-x scroll left top #fff;
height: 20px;
padding-bottom: 30px
}
 
.flyover.in {
  /*margin-top: -560px;*/
  display: block;
}

.noty-success
{
    background-color: lightgreen;
    color: darkgreen;
    border-color: #50C24E;
}

.noty-info
{
    background-color: #CBE9F9;
    border-color: #B5E1F8;
    color: #468847;
}

.noty-warning
{
    background-color: #FAEDA8;
    border-color: #F6DE69;
    color: #468847;
}

.noty-danger
{
      background-color: red;
      color: #fff;
      border-color: darkred;
}

/* css for noty ends -- Added by Chaitra*/


.modal-dialog {
    margin: 80px auto!important;
}
.leftaligned{
	float:left;
	
}
/* Overriding modal-footer and modal-header css for vHMS App */
.vm-modal-footer {
    padding: 20px;
    text-align: right;
}

.vm-modal-header {
    padding: 15px;
    min-height: 16.42857143px;
}

/*To show the search icon in navbar-search--end*/

.doctor-active
{
    background-color:InfoBackground;
}

.day-highlight, .day-highlight:hover
{
    background-color:#f2dede !important;
}

.cal-day-today
{
    background-color: #d9edf7 !important;
}
