<div ng-controller="bookanappointmentcontroller">
    <div class="row" ng-if="selectSpeciality">
    <vm-title title-value="Book an Appointment" style-value="info alert-info" expand-collapse="minus"
              control-id="title_Appointment"></vm-title>
        <!-- <div class="col-md-12"> -->
            <form  name="BookAnAppointmentForm" novalidate ngformvalidate>
                <div class="well">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>
                                Speciality
                            </label>
                            <vm-ui-select2 master-name="Speciality" control-id="Speciality" place-holder="Speciality"
                                           ng-select-model="doctorDetails.Speciality" source-url="/speciality"
                                           source-obj="ViewModels" required-field="false" ngvalidate></vm-ui-select2>
                        </div>
                        <div class="col-md-4 form-group">
                        	<label>
                                Doctor Name
                            </label>
                        	<input type="text" class="form-control" id="doctorName" placeholder="Doctor Name"
                            ng-model="doctorDetails.doctorname" name="docname"
                            data-controlname="Doctor Name" ng-required="false" ngvalidate maxlength="50" />
                        </div>
                        <div class="col-md-2 form-group" style="margin-top:5px;">
                         <div class="col-md-6 form-group">
                            <div class="row">&nbsp;</div>
                            <button type="submit" id="btnSearch" class="btn btn-danger btn-sm" ng-click="SearchClicked(doctorDetails)">
                                Search
                            </button>
                        </div>
                        <div class="col-md-6 form-group">
                            <div>&nbsp;</div>
                            <button type="button" id="btnClear" class="btn btn-default btn-sm" ng-click="Clear_Data()">
                                Clear
                            </button>
                        </div>
                        </div>
                       
                    </div>
                </div>
            </form>
        <!-- </div> -->
    </div>
    
    
    <div class="row">
        <div class="col-md-12">         
            <section ng-if="ViewDoctors" data-ng-include=" 'app/bookanappointment/view/doctordetails.html' "></section>
        </div>
    </div>
    
    
    <div class="row">&nbsp;</div>
    <div class="row" ng-if="appointmentSchedulePage">
        <div class="col-md-6">
            <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 id="lblSelectedDate" name="lblSelectedDate" style="color:gray;opacity:0.5;font-size:20px;">{{SelectedDateFormatted}}</h3>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
               <div class="row">
                     <div class="col-md-2">
						<img src="{{docObject.profilePictureUrl}}" alt="image" style="border-radius:35px;">
                     </div>
                     <div class="col-md-10">
                       <strong>{{docObject.designation}}&nbsp;{{docObject.doctorName}}</strong>
                       <small>{{docObject.experience}} year(s) experience</small>
                       <div>{{docObject.description}}</div>
                       <div>{{docObject.startTime}} - {{docObject.endTime}}</div>
                 </div>
              <div>&nbsp;</div>
            </div> 
                 <!-- <div class="row">
                    <div class="col-md-6">
                    	<div class="form-group">
                            <label>
                                Doctor Name:
                            </label>
                            {{designation}}&nbsp;{{doctorName}}
                        </div>
                        </div>
                </div> -->
                <!-- <div class="row">
                   <div class="col-md-6">
                   	<div class="form-group">
                            <label>
                                Speciality:
                            </label>
                            {{specialization}}
                           </div>
                        </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <timepicker ng-model="timeAvailibility.SelectedTime" hour-step="1" minute-step="15" show-meridian="true" readonly-input ="true" min="MinTime" max="MaxTime"></timepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row" >
    <div class="col-md-4"></div>
       <div class="col-md-2">
          <center>
            <a id="btnCreateAppointment" name="btnCreateAppointment" class="btn btn-primary" ng-click="appointmentSchedulingPrevious()" style="width:100%">
                Previous
            </a>
            </center>
        </div>
        <div class="col-md-2">
        <center>
        <a id="btnCreateAppointment" name="btnCreateAppointment" class="btn btn-primary" ng-click="CreateAppointment(timeAvailibility)" style="width:100%">
          Next
        </a>
       </center>
     </div>
     <div class="col-md-4"></div>
    </div>
    </div>
    
       <div class="row" ng-if="addPatientDetailsPage">
    	<vm-title control-id="UserRegistration" title-value="Patient Registration" style-value="info alert-info"></vm-title>
		<form name="BookAppointmentPatientDetails_Login" ng-submit="savePatientDetails(AppointmentDetailsPatient,BookAppointmentPatientDetails_Login.$valid)" novalidate ngformvalidate>
    		<div class="row">
    			<div class="col-md-12">
         			<div class="row">
            		<div class="col-md-4 form-group">
               			<label>
                    		First Name
               		 	</label>
                		<input type="text" ng-disabled="disableControls" id="txt_patientfirstnameLogin" placeholder="First Name" ng-model="AppointmentDetailsPatient.PatientFirstName" name="Patientfisrtname" data-controlname="First Name" class="form-control" data-ng-minlength="3" maxlength="50" ng-required="true" ngvalidate />
            		</div>
            		<div class="col-md-4 form-group">
               			<label>
                		    Middle Name
                		</label>
                		<input type="text" ng-disabled="disableControls" id="txt_patientmiddlenameLogin" placeholder="Middle Name" ng-model="AppointmentDetailsPatient.PatientMiddleName" name="Patientmiddlename" data-controlname="Middle Name" class="form-control" maxlength="50" ng-required="false" ngvalidate />
            		</div>
            		<div class="col-md-4 form-group">
                		<label>
                    		Last Name
                		</label>
                		<input type="text" ng-disabled="disableControls" id="txt_patientlastnameLogin" placeholder="Last Name" ng-model="AppointmentDetailsPatient.PatientLastName" name="Patientlastname" data-controlname="Last Name" class="form-control" data-ng-minlength="1" maxlength="50" ng-required="true" ngvalidate />
            		</div>
        		</div>

     			 <div class="row">
            	<div class="col-md-8 form-group">
                	<label>
                	    Email ID
                	</label>
                	<input type="email" ng-disabled="disableControls" id="txt_patientemailLogin" placeholder="Email ID" ng-model="AppointmentDetailsPatient.PatientEmail" name="Patientemail" data-controlname="Email Id" class="form-control" ng-required="true" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ngvalidate />
            	</div>
            	<div class="col-md-4 form-group">
            	    <label>
            	        Mobile No.
            	    </label>
            	    <input type="text" ng-disabled="disableControls" id="txt_patientmobilenoLogin" placeholder="Mobile No." ng-model="AppointmentDetailsPatient.PatientMobileNo" name="Patientmobile" data-controlname="Mobile No" data-ng-minlength="10" maxlength="16" ng-pattern="/[^ 0-9()+-]*$/" class="form-control " ng-required="true" ngvalidate />
            	</div>
       		</div>
       		<div class="row">
            <div class="col-md-4 form-group">
                <label>Gender</label>
                <vm-ui-select2 is-disabled="{{disableControlsDropdown}}" master-name="Gender" control-id="Gender" place-holder="Gender" ng-select-model="AppointmentDetailsPatient.Gender"
                               source-url="/gender" source-obj="ViewModels" required-field="true"></vm-ui-select2>
            </div>
            &nbsp;&nbsp;
            <div class="col-md-4 form-group">
                <label>Date Of Birth </label>
                <vm-date-picker datebuttondisabled="{{disableControls}}" control-id="txtDOB_User_appointment" ng-class="date-required" control-name="Date of Birth" field-required="true" maximumdate="{{maxappntdobDate}}"
                                ng-date-selected="AppointmentDetailsPatient.DateofBirth"></vm-date-picker>
            </div>
            <div class="col-md-2 form-group" ng-if="showage">
                <label>Age</label>
                <div>{{patientage}} year(s)</div>
            </div>
        </div>
        <div class="row">
            <!--<div class="form-group">
                <input type="checkbox" id="txt_patientregisterLogin" ng-model="AppointmentDetailsPatient.PatientRegister" ng-click="patientRegistered(AppointmentDetailsPatient)" />Have you Registered here before?
            </div>-->
            <div class="col-md-4 form-group" ng-if="userlogin">
                <label>
                    Have you Registered here before?
                </label>
                <div>
                    <toggle-switch model="AppointmentDetailsPatient.switchStatus" control-id="txt_Register" on-label="Yes" off-label="No" on-change="ClearUHID()"><toggle-switch>
                </div>
            </div>
            <div class="col-md-4" ng-if="AppointmentDetailsPatient.switchStatus">
                <div class="form-group">
                    <label>
                        UHID
                    </label>
                    <input type="text" id="txt_patientUHIDLogin" placeholder="UHID" ng-model="AppointmentDetailsPatient.PatientUHID" name="PatientUHID" data-controlname="Patient UHID" class="form-control" ng-required="true" ngvalidate />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-2">
            <center>
                <div class="form-group">
                    <button type="button" class="btn btn btn-primary" ng-click="previousPage()" style="width:100%">Previous</button>
                    
                </div>
            </center>
        </div>
        <div class="col-md-2">
        	<center>
            	<div class="form-group">
                    <button type="submit" class="btn btn btn-primary" style="width:100%">Confirm Appointment</button>
                </div>
              </center>
         </div>        
        <div class="col-md-4"></div>
        
    </div>
</form>


</div>
    
    
</div>

