<div class="row">   
  <!-- <div class="col-md-12"> -->
<vm-title title-value="Available Doctor(s)" style-value="info alert-info" expand-collapse="minus"
          control-id="title_Doctor"></vm-title>    
        <div style="white-space:nowrap">
            <!-- <table datatable="ng" dt-options="lookUpDtOptions" dt-column-defs="lookUpDtColumnDefs"
                   class="table table-striped table-condensed table-responsive">
                <thead class="ng-hide">
                    <tr>
                        <th>Image</th>
                        <th>Doctor Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="cursor:pointer;" ng-repeat="data in UserDetails | orderBy:'name'" ng-class="{'doctor-active': selectedDoctor == data.code}" ng-click="doctorsschedule(data)">
                        <td width="10%;" ng-click="SetSelectedDoctor(data.code)">
                            <img ng-src="{{data.profilePictureUrl}}" alt="image" style="width:60px; height:60px; border-radius: 50%;">
                        </td>
                        <td width="90%" style="text-align:left;" class="vm-text-center" data-column-name="Doctordetails" ng-click="SetSelectedDoctor(data.code)">
                            <strong>{{data.designation}}&nbsp;{{data.name}}</strong><small>&nbsp;{{data.description}}&nbsp; &nbsp;{{data.experience}}&nbsp;years experience</small></br>{{data.startTime}} - {{data.endTime}} 
                        </td>
                    </tr>
                </tbody>
            </table> -->
            <perfect-scrollbar class="scroller" style="height:300px;" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
            <div class="col-md-12">
                <div  class="row">
                    <div class="col-md-6" ng-repeat="data in UserDetails | orderBy:'name'" style="padding-bottom:5px; cursor:pointer;" ng-click="doctorsschedule(data)">
                        <div class="row" ng-class="{'doctor-active': selectedDoctor == data.code}" ng-click="SetSelectedDoctor(data.code)">
                            <div class="col-md-2" ><img ng-src="{{data.profilePictureUrl}}" alt="image" style="width:60px; height:60px; border-radius: 50%;"></div>
                            <div class="col-md-10"><strong>{{data.designation}}&nbsp;{{data.name}}</strong><small>&nbsp;{{data.description}}&nbsp; &nbsp;{{data.experience}}&nbsp;years experience</small></br>{{data.startTime}} - {{data.endTime}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
        </div>
    <!-- </div> -->
    </div>
