<vm-title title-value="Scheduled Details" style-value="info alert-info" expand-collapse="minus"
          control-id="title_scheduleddetails"></vm-title>
<div class="well">
    <div class="row">
        <div class="col-md-3">
            <img ng-src="{{BookAppointmentDetails.profilePictureUrl}}" alt="image" style="width:60px; height:60px; border-radius: 50%;">
        </div>
        <div class="col-md-9">
            <strong>{{BookAppointmentDetails.designation}}&nbsp;{{BookAppointmentDetails.name}}</strong><small></br>{{BookAppointmentDetails.experience}}&nbsp;years experience</small></br>{{BookAppointmentDetails.description}}</br><b>Scheduled Date:</b>&nbsp;</br>{{SelectedDateTime}}
        </div>        
    </div>
</div>

