<div class="well well-sm" ng-show="ViewSchduledDate">
    <div class="row">
        <div class="col-md-12">
            <b>Scheduled Date: </b>&nbsp;{{SelectedDateTime}}
        </div>
    </div>
</div>
<div class="row" ng-controller="scheduleappointmentcontroller">
    <div class="col-md-12">
        <vm-title control-id="Calendar" title-value="Appointment" style-value="info alert-info"
                  text-value="Add" icon="fa fa-plus"></vm-title>
        <div class="row">
            <h2 class="text-center">
                {{calendarTitle}}
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="btn-group">
                    <button class="btn btn-primary" mwl-date-modifier date="calendarDay" decrement="calendarView">
                        Previous
                    </button>
                    <button class="btn btn-default" mwl-date-modifier date="calendarDay" set-to-today>
                        Today
                    </button>
                    <button class="btn btn-primary" mwl-date-modifier date="calendarDay" increment="calendarView">
                        Next
                    </button>
                </div>
            </div>
            <br class="visible-xs visible-sm">
            <div class="col-md-6 text-center">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'year'">
                        Year
                    </label>
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'month'">
                        Month
                    </label>
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'">
                        Week
                    </label>
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'day'">
                        Day
                    </label>
                </div>
            </div>
            </br>
        </div>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10">
                    <mwl-calendar view="calendarView"
                                  current-day="calendarDay"
                                  events="events"
                                  on-event-click="eventClicked(calendarEvent)"
                                  on-event-drop="eventDropped(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                  edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                                  delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                                  on-edit-event-click="eventEdited(calendarEvent)"
                                  on-delete-event-click="eventDeleted(calendarEvent)"
                                  auto-open="true">
                    </mwl-calendar>
                </perfect-scrollbar>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <center>
                    <div class="form-group">
                        <button type="button" ng-show="ViewNextButton" ng-click="ViewUserRegistrationScreen()" class="btn btn btn-primary">Next</button>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        &nbsp;
    </div>

    <div class="row">
        &nbsp;
    </div>
    <script type="text/ng-template" id="NewEventModal.html">
        <form name="AddEventForm" ng-controller="scheduleappointmentcontroller" data-ng-submit="SaveEvent(EventDetails)" novalidate ngformvalidate>
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">
                    &times;
                </button>
                <h3 class="modal-title">
                    {{EventModalTitle}}
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>
                            Doctor Name:
                        </label>
                        &nbsp;{{EventDetails.Designation}}&nbsp;{{EventDetails.DoctorName}}
                    </div>
                    <div class="col-md-6 form-group">
                        <label>
                            Speciality:
                        </label>
                        &nbsp;{{EventDetails.SpecialityName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>
                            Hospital:
                        </label>
                        &nbsp;Apollo Hospital
                    </div>
                    <div class="col-md-6 form-group">
                        <label>
                            Location:
                        </label>
                        &nbsp;{{vmuisettings.cityName}},{{vmuisettings.countryName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Appointment Date:
                            </label>
                            <vm-date-picker control-id="txtAppointmentDate_doctor" ng-class="date-required" control-name="Appointment Date" field-required="true" minimumdate="{{EventDetails.MinDate}}"
                                            ng-date-selected="EventDetails.AppointmentDate"></vm-date-picker>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--<div class="controls">
                                <timepicker ng-model="EventDetails.AppointmentDate" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                            </div>-->
                            <label>
                                Preferred Time(24 Hours):
                            </label>
                            <ui-select class="btn-block vm-cursor-pointer vmdropdown" id="preferredTime" name="preferredTime" ng-required="true"
                                       data-controlname="Preferred Time" ngvalidate ng-model="EventDetails.SelectedPreferredTime" theme="select2">
                                <ui-select-match placeholder="Time" allow-clear="true">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="item in items.Timings">
                                    {{item}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="deletemodalContent.html">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            Are you sure you want to delete the record ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="confirmdelete()">OK</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>